version: "3.7"

x-default-volumes: &default-volumes
  volumes:
    #- ./:/app
    #- node-module:/app/node_module
    - ../naturedb-volumes/bucket:/bucket

services:
  flask:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      args:
        PYTHON_VERSION: 3.12
        DEBIAN_RELEASE: bookworm
        PIP_REQUIREMENTS: requirements/base.txt
        NODE_VERSION: 20
    image: naturedb/flask-${WEB_ENV}
    container_name: naturedb-flask-${WEB_ENV}-container

    environment:
      - FLASK_APP=app
      - WEB_ENV=${WEB_ENV}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - .:/code
      - ../naturedb-volumes/bucket:/bucket
    command: /srv/start

  postgres:
    build:
      context: .
      dockerfile: ./docker/Dockerfile_postgres
      args:
        POSTGRES_VERSION: 16
        DEBIAN_RELEASE: bookworm
    image: naturedb/postgres-${WEB_ENV}
    container_name: naturedb-postgres-${WEB_ENV}-container
    restart: no
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ../naturedb-volumes/pgdata:/var/lib/postgresql/data/pgdata
      - ./initdb:/docker-entrypoint-initdb.d
      - ../naturedb-volumes/bucket:/bucket
    #command: ["postgres", "-c", "log_statement=all"]
  redis:
    image: redis:7-alpine
    restart: no