# docker compose
# WEB_ENV: dev|prod
WEB_ENV=dev
DOCKER_NAME=naturedb
DOCKER_PYTHON_VERSION=3.11
DOCKER_DEBIAN_RELEASE=bullseye
DOCKER_POSTGRES_VERSION=15
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=naturedbT
WEB_HOST=my-domain.org
PORTAL_SITE=www.naturedb.org
SECRET_KEY=mykey
HTPASSWD=admin:1234