{% macro render_field(label) %}
<div class="uk-margin">
  <label class="uk-form-label">{{ label }}</label>
  <div class="uk-form-controls">
      {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro verbatim_field() %}
<div class="uk-inline">
  <span class="uk-form-icon uk-form-icon" uk-icon="icon: info"></span>
  {{ caller() }}
</div>
{% endmacro %}

<div class="uk-grid-small uk-form-stacked" uk-grid>
  <div class="uk-width-1-4">
    <div class="uk-margin">
      <label class="uk-form-label">採集者</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="collector-input" class="uk-input" type="text" placeholder="" name="collector"  autocapitalize="none" autocorrect="off" autocomplete="off" my-listbox="urlPrefix: /api/v1/people; itemDisplay: sorting_name; appendQuery: is_collector=1" value="{% if record and record.collector %}{{ record.collector.sorting_name }}{% endif %}" />
        </div>
        {#
        <div id="collector-list-container" class="uk-width-1-2 uk-margin-remove" uk-dropdown="mode: click; pos: bottom-justify; boundary: !.collector-input; auto-update: false>
          <ul id="collector-list" class="uk-nav uk-nav-default">
            <li></li>
          </ul>
        </div>
        #}
       </div>
    </div>
  </div>
  <div class="uk-width-1-4">
    <div class="uk-margin">
      <label class="uk-form-label">採集號</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" placeholder="" name="field_number" value="{% if record %}{{ record.field_number or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-4">
    <div class="uk-margin">
      <label class="uk-form-label">採集日期</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="date" name="collect_date" value="{% if record and record.collect_date %}{{ record.collect_date.strftime('%Y-%m-%d') or '' }}{% endif %}"/>
      </div>
    </div>
  </div>
  <div class="uk-width-1-4">
    <div class="uk-margin">
      <label class="uk-form-label">採集日期(文字)</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="collect_date_text" value="{% if record and record.collect_date_text %}{{ record.collect_date_text }}{% endif %}" placeholder=" 1990 or 1990-03" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">[新]隨同人員(選擇) TODO</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_xx" disabled></textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-margin">
      <label class="uk-form-label">[舊]隨同人員舊</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text">{% if record %}{{ record.companion_text or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-margin">
      <label class="uk-form-label">[舊]隨同人員(英)</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="companion_text_en" >{% if record %}{{ record.companion_text_en or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>

  {% include "admin/inc_record_gathering_lonlat.html" %}
  <div class="uk-width-1-1" style="border: 2px dotted #b7968c;">
    <h4>1A-2.地理資訊-地點名稱</h4>
    <div class="uk-grid-divider uk-child-width-expand@s uk-margin" uk-grid id="my-gazetter"></div>
  </div>
    {#
  {% for i in all_options.area_class %}
    {% if record %}
    {% set defaultNamedArea = record.get_named_area(i.name) %}
  {% endif %}
  <div class="uk-width-1-3">
    <div class="uk-margin">
      <label class="uk-form-label">{{ i.label }}</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <select id="named_areas__{{ i.name }}-input" name="named_areas__{{ i.id }}" class="uk-select" my-gazetter="fetch: /api/v1/named-areas; higherClassificationName:higher_area_classes;optionMapName:options;keyName:area_class_id;itemDisplay: display_name; query: area_class_id={{ i.id }};{% if i.parent_id %}paren_id:{{ i.parent.id }};{% endif %}{% if defaultNamedArea %}defaultValue:{{ defaultNamedArea.id }}{% endif %}{% if i.admin_config and i.admin_config.myGazetter %};{{ i.admin_config.myGazetter }}{% endif %}">
            <option value="">-- 請選擇-- </option>
          </select>
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="named_areas__{{ i.name }}-input" class="uk-input" type="text" placeholder="" name="named_areas__{{ i.id }}" autocapitalize="none" autocorrect="off" autocomplete="off" my-gazetter="fetch: /api/v1/named-areas; itemDisplay: display_name; query: area_class_id={{ i.id }};{% if i.parent_id %}paren_id:{{ i.parent.id }};{% endif %}{% if defaultNamedArea %}defaultValue:{{ defaultNamedArea.id }}{% endif %}{% if i.admin_config and i.admin_config.myGazetter %};{{ i.admin_config.myGazetter }}{% endif %}" value="{% if defaultNamedArea %}{{ defaultNamedArea.display_name }}{% endif %}"/>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  #}

  <div class="uk-width-1-1">
    {% call render_field('詳細地名') %}
    <textarea name="locality_text" class="uk-textarea">{% if record %}{{ record.locality_text or '' }}{% endif %}</textarea>
    {% endcall %}
  </div>
  <div class="uk-width-1-1">
    {% call render_field('詳細地名-Verbatim (逐字)') %}
    <textarea name="verbatim_locality" class="uk-textarea" placeholder="原始標籤完整地點文字">{% if record %}{{ record.verbatim_locality or '' }}{% endif %}</textarea>
    {% endcall %}
  </div>
  {#
  old lon lat
  <div class="uk-width-1-6">
    {% call render_field('經度: verbatim') %}
    {% call verbatim_field() %}
    <input class="uk-input" type="text" name="verbatim_longitude" value="{% if record %}{{ record.verbatim_longitude or '' }}{% endif %}" />
    {% endcall %}
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
      {% call render_field('經度: 十進位') %}
      <input id="longitude-decimal" class="uk-input" type="text" name="longitude_decimal" value="{% if record %}{{ record.longitude_decimal or '' }}{% endif %}" />
      {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('東西經') %}
    <select class="uk-select" id="converter-longitude-direction">
      <option value="">--</option>
      <option value="1">東經</option>
      <option value="-1">西經</option>
    </select>
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('經度: ° (度)') %}
    <input class="uk-input" type="text" id="converter-longitude-degree" value=""/>
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('經度: \' (分)') %}
    <input class="uk-input" type="text" id="converter-longitude-minute">
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('經度: \" (秒)') %}
    <input class="uk-input" type="text" id="converter-longitude-second">
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
  {% call render_field('緯度: verbatim ') %}
    {% call verbatim_field() %}
    <input class="uk-input" type="text" name="verbatim_latitude" value={% if record %}"{{ record.verbatim_latitude or '' }}"{% endif %}>
    {% endcall %}
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('緯度: 十進位') %}
    <input id="latitude-decimal" class="uk-input" type="text" name="latitude_decimal" value="{% if record %}{{ record.latitude_decimal or '' }}{% endif %}">
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('南北緯度') %}
    <select class="uk-select" id="converter-latitude-direction">
      <option value="">--</option>
      <option value="1">北緯</option>
      <option value="-1">南緯</option>
    </select>
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('緯度: ° (度)') %}
    <input class="uk-input" type="text" id="converter-latitude-degree" />
      {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('緯度: \' (分)') %}
    <input class="uk-input" type="text" id="converter-latitude-minute">
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    {% call render_field('緯度: \" (秒)') %}
    <input class="uk-input" type="text" id="converter-latitude-second">
    {% endcall %}
  </div>
  <div class="uk-width-1-6">
    <div class="uk-margin">
      <label class="uk-form-label">海拔</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude" value="{% if record %}{{ record.altitude or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  <div class="uk-width-1-6">
    <div class="uk-margin">
      <label class="uk-form-label">海拔2</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="altitude2" value="{% if record %}{{ record.altitude2 or '' }}{% endif %}" />
      </div>
    </div>
  </div>
  #}
  <div class="uk-width-1-1">
    <h4 id="nav-scroll-biotope">棲地環境</h4>
  </div>
  {% for i in all_options.assertion_type_record %}
    {% if record %}
    {% set defaultRecordAssertion = record.get_assertion(i.name).value %}
    {% endif %}
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">{{ i.label }}</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: triangle-down"></span>
          <input id="record_assertions__{{ i.name }}-input" class="uk-input" type="text" placeholder="" name="record_assertions__{{ i.id }}" autocapitalize="none" autocorrect="off" autocomplete="off" my-listbox="urlPrefix: /api/v1/assertion-type-options; itemDisplay: display_name; appendQuery: type_id={{ i.id }}; preFetch; itemSelect:value;{% if defaultRecordAssertion %}defaultValue:{{ defaultRecordAssertion }}{% endif %}" value="{{ defaultRecordAssertion or '' }}"/>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="uk-width-1-1">
    <h4>其他</h4>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集記錄</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="field_note">{% if record %}{{ record.field_note or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@s">
    <div class="uk-margin">
      <label class="uk-form-label">採集記錄(英文)</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="field_note_en">{% if record %}{{ record.field_note_en or '' }}{% endif %}</textarea>
      </div>
    </div>
  </div>
  <div class="uk-width-1-1">
    <div class="uk-margin">
      <label class="uk-form-label">計畫</label>
      <div class="uk-form-controls">
        <select class="uk-select" name="project_id">
          <option value="">--</option>
          {% for p in all_options.project %}
          <option value="{{ p.id }}"{% if record and (p.id == record.project_id) %} selected{% endif %}>{{ p.name }}</option>
          {% endfor %}
      </select>
      </div>
    </div>
  </div>
</div><!-- end of form-stacked grid-->
