{% extends "sites/ppi/base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/data-search.js' ) }}"/></script>
{% endblock %}

{% block main %}
<hr>
{# g.site.collection_ids #}
<section id="section-1">
  <form>
    <label for="input1">Data Search:</label>
    <input type="text" id="input1" name="input1" size="20" placeholder="Input1">
    <button type="submit">Submit</button>
  </form>
</section>
<hr>
<section>
  <p>搜尋結果: <mark id="result-total"></mark></p>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>館號</th>
        <th>物種</th>
        <th>採集者</th>
        <th>採集號</th>
        <th>採集日期</th>
        <th>採集地點</th>
      </tr>
    </thead>
    <tbody id="result-body">
    </tbody>
  </table>

</section>
<section>
  <div id="result-pagination">
  </div>
</section>
<template id="result-template">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</template>
{% endblock %}
