.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: not-allowed;
}

.overlay * {
  pointer-events: none;
}
.unlock-button {
  margin-top: 10px;
}
.form-container {
  position: relative;
  display: inline-block;
}
.preserved-specimen-card .uk-card {
  border-top-color: #1E87F0;
}
.preserved-specimen-card .uk-card .cat-txt {
  color: #1E87F0;
}
.material-sample-card .uk-card {
  border-top-color: #8630F0;
}
.material-sample-card .uk-card .cat-txt {
  color: #8630F0;
}
.other-card .uk-card {
  border-top-color: #E84DF0;
}
.other-card .uk-card .cat-txt {
  color: #E84DF0;
}
.living-specimen-card .uk-card {
  border-top-color: #F03A7F;
}
.living-specimen-card .uk-card .cat-txt {
  color: #F03A7F;
}

.uk-card {
  border-top: 2px solid;
  position: relative;
  transition: box-shadow 0.15s ease-out;
  border-radius: 3px;
}
.uk-card:hover {
	box-shadow: 0 0 0 7px rgba(0,0,0,0.045);
}
.uk-card .uk-inline {
	z-index: 99;
}
.ndb-padding-tiny{
  padding: 5px;
 }
.ndb-grid-tiny{
  margin: 5px 0;
  padding: 0 2px;
}
.ndb-form-verbatim{
  background-color: #fff6c5;
}
.ndb-form-english{
  background-color: #def;
}
#record-map{
  width: 100%;/*400px;*/
  height: 250px;
}
#toggle-geo-dms{
  border: 2px dashed #aaaaaa;
  margin: 2px 10px;
  padding: 6px;
  background-color: #b1b1b1;
}

            .uk-panel {
                padding: 10px;
                text-align: center;
            }

            :nth-child(10n-9) > .uk-panel { background: rgba(0,0,0,0.1); }
            :nth-child(10n-8) > .uk-panel { background: rgba(0,0,0,0.15); }
            :nth-child(10n-7) > .uk-panel { background: rgba(0,0,0,0.2); }
            :nth-child(10n-6) > .uk-panel { background: rgba(0,0,0,0.25); }
            :nth-child(10n-5) > .uk-panel { background: rgba(0,0,0,0.3); }
            :nth-child(10n-4) > .uk-panel { background: rgba(0,0,0,0.35); }
            :nth-child(10n-3) > .uk-panel { background: rgba(0,0,0,0.40); }
            :nth-child(10n-2) > .uk-panel { background: rgba(0,0,0,0.45); }
            :nth-child(10n-1) > .uk-panel { background: rgba(0,0,0,0.50); }
            :nth-child(10n) > .uk-panel { background: rgba(0,0,0,0.55); }



.ndb-fieldset {
  border: 2px solid #5e5e5e;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.ndb-legend {
  font-weight: 600;
  color: #fff;
  background: #5e5e5e;
  padding: 0 8px;
  position: absolute;
  top: -10px;
  left: 16px;
}
.ndb-legend2 {
  font-weight: 600;
  font-size: 0.9em;
  /*color: #fff;*/
  margin-left: -10px;
  padding: 4px 10px 0px 10px;
  background: #dddddd;
}
.ndb-fieldset .uk-grid-margin {
  margin-top: 4px !important;
}
 /* https://codepen.io/yiannistaos/pen/vXqzMw */
 /* select */
.bt-select-field .select2-container {
  /*width: 270px !important;*/
  /*width: 100% !important;*/
}
/*.bt-select-field .select2-container .select2-selection--single { height: 45px; padding: 8px 10px 8px 10px; }*/
.bt-select-field .select2-container .select2-selection--single { height: 30px; padding: 2px 4px; }
.bt-select-field .select2-dropdown { background-color: white; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-results__option { padding: 6px; }
.bt-select-field .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; }
/*.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 44px;top: 1px;right: 5px;width: 20px; }*/
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 30px;top: 1px;right: 5px;width: 20px; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; }
.bt-select-field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }
.bt-select-field .select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #ccc; }
.bt-select-field .select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }
.bt-select-field .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }
.bt-select-field .select2-container--default .select2-results__group { padding: 6px; }
