.ndb-padding-tiny{
  padding: 5px;
 }
.ndb-grid-tiny{
  margin: 5px 0;
  padding: 0 2px;
}
.ndb-form-verbatim{
  background-color: #fff6c5;
}
.ndb-form-english{
  background-color: #def;
}
#record-map{
  width: 100%;/*400px;*/
  height: 250px;
}
#toggle-geo-dms{
  border: 2px dashed #aaaaaa;
  margin: 2px 10px;
  padding: 6px;
  background-color: #b1b1b1;
}

            .uk-panel {
                padding: 10px;
                text-align: center;
            }

            :nth-child(10n-9) > .uk-panel { background: rgba(0,0,0,0.1); }
            :nth-child(10n-8) > .uk-panel { background: rgba(0,0,0,0.15); }
            :nth-child(10n-7) > .uk-panel { background: rgba(0,0,0,0.2); }
            :nth-child(10n-6) > .uk-panel { background: rgba(0,0,0,0.25); }
            :nth-child(10n-5) > .uk-panel { background: rgba(0,0,0,0.3); }
            :nth-child(10n-4) > .uk-panel { background: rgba(0,0,0,0.35); }
            :nth-child(10n-3) > .uk-panel { background: rgba(0,0,0,0.40); }
            :nth-child(10n-2) > .uk-panel { background: rgba(0,0,0,0.45); }
            :nth-child(10n-1) > .uk-panel { background: rgba(0,0,0,0.50); }
 :nth-child(10n) > .uk-panel { background: rgba(0,0,0,0.55); }

 /* https://codepen.io/yiannistaos/pen/vXqzMw */
 /* select */
.bt-select-field .select2-container {
  /*width: 270px !important;*/
}
.bt-select-field .select2-container .select2-selection--single { height: 45px; padding: 8px 10px 8px 10px; }
.bt-select-field .select2-dropdown { background-color: white; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-results__option { padding: 6px; }
.bt-select-field .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 44px;top: 1px;right: 5px;width: 20px; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; }
.bt-select-field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }
.bt-select-field .select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #ccc; }
.bt-select-field .select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }
.bt-select-field .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }
.bt-select-field .select2-container--default .select2-results__group { padding: 6px; }
