{% macro widget(name, label, type='input', data=[]) -%}
<div class="uk-margin-small">
  <label class="uk-form-label" for="{{ name }}-id">{{ label }}</label>
  <div class="uk-form-controls">
    {% if caller %}
      {{ caller() }}
    {% else %}
      {% if type == "select2" %}
      <div class="bt-select-field">
        <select class="uk-select" id="{{ name }}-id" data-placeholder="{{ _('-- 選擇 --') }}" data-allow-clear="true" data-width="100%" name="{{ name }}">
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.text }}</option>
          {% endfor %}
        </select>
      </div>
      {% elif type == "select" %}
      <select class="uk-select" id="{{ name }}-id" name="{{ name }}">
        <option value="">{{ _('-- 選擇 --') }}</option>
        {% for i in data %}
        <option value="{{ i.id }}">{{ i.text }}</option>
        {% endfor %}
      </select>
      {% endif %}
    {% endif %}
  </div>
</div>
{%- endmacro %}

<div class="uk-card uk-card-default uk-card-small uk-card-body" id="data-search-filter">
  <div class="uk-flex uk-flex-between uk-flex-top">
    <h4 class="uk-text-primary">篩選</h4>
    <button type="button" aria-label="Close" uk-close id="close-button" class="uk-hidden"></button>
  </div>

  <form class="uk-form-stacked" id="data-search-form">
    <div class="uk-flex uk-flex-between">
      <button class="uk-button uk-button-secondary uk-button-small" type="button" id="clear-button">{{ _('清除') }}</button>
      <button class="uk-button uk-button-primary uk-button-small" type="submit" id="submit-button-top">{{ _('送出') }}</button>
    </div>
    <fieldset class="uk-fieldset">
      <h5 class="uk-heading-line uk-text-center uk-text-muted filter-title"><span>{{ _('物種') }}</span></h5>
      {{ widget('family', _('科名'), 'select2', data=options.family) }}
      {{ widget('genus', _('屬名'), 'select2') }}
      {{ widget('species', _('種名'), 'select2') }}
      <h5 class="uk-heading-line uk-text-center uk-text-muted filter-title"><span>{{ _('採集資訊') }}</span></h5>
      {{ widget('collector', _('採集者'), 'select2') }}
      {% call widget('field_number', _('採集號')) %}
      <div class="uk-flex uk-flex-row uk-width-1-1">
        <input class="uk-input uk-margin-small-right" name="field_number" />
        <span class="en-dash">-</span>
        <input class="uk-input uk-margin-small-left" name="field_number2" />
      </div>
      {% endcall %}
      {% call widget('date', _('採集日期')) %}
      <div class="uk-width-1-1">
        <input class="uk-input" name="collect_date" type="date"/>
        <div class="en-dash uk-text-center">-</div>
        <input class="uk-input" name="collect_date2" type="date"/>
      </div>
      {% endcall %}
      {{ widget('collect_month', _('採集月份'), 'select', data=[{'id': '1', 'text': _('一月')}, {'id': '2', 'text':_('二月')}, {'id': '3', 'text':_('三月')}, {'id': '4', 'text':_('四月')}, {'id': '5', 'text':_('五月')}, {'id': '6', 'text':_('六月')}, {'id': '7', 'text':_('七月')}, {'id': '8', 'text':_('八月')}, {'id': '9', 'text':_('九月')}, {'id': '10', 'text':_('十月')}, {'id': '11', 'text':_('十一月')}, {'id': '12', 'text':_('十二月')}]) }}
      <h5 class="uk-heading-line uk-text-center uk-text-muted filter-title"><span>{{ _('採集地點') }}</span></h5>
      {{ widget('continent', _('大洲'), 'select', data=[{'id': 'asia', 'text': _('亞洲')}, {'id': 'europe', 'text':_('歐洲')}, {'id': 'americas', 'text':_('美洲')}, {'id': 'oceania', 'text':_('大洋洲')}, {'id': 'africa', 'text':_('非洲')}, {'id': 'antarctica', 'text':_('南極洲')}]) }}
      {{ widget('country', _('國家/地區'), 'select2') }}
      {{ widget('adm1', _('1級行政區'), 'select2') }}
      {{ widget('adm2', _('2級行政區'), 'select2') }}
      {{ widget('adm3', _('3級行政區'), 'select2') }}
      {{ widget('named_area__park', _('國家公園/保護留區'), 'select2') }}
      {{ widget('named_area__locality', _('地點名稱'), 'select2') }}
      {% call widget('date', _('海拔')) %}
      <div class="uk-flex uk-flex-row uk-width-1-1">
        <select class="uk-select uk-margin-small-right" name="altitude_condiction">
          <option value="">{{ _('-- 選擇 --') }}</option>
          <option value="between">{{ _('介於') }}</option>
          <option value="gte">{{ _('大於') }}</option>
          <option value="lte">{{ _('小於') }}</option>
          <option value="eq">{{ _('等於') }}</option>
        </select>
        <input class="uk-input uk-margin-small-right" type="text" name="altitude"/>
        <span class="en-dash">-</span>
        <input class="uk-input uk-margin-small-left" type="text" name="altitude2"/>
      </div>
      {% endcall %}
      {% call widget('date', _('海拔')) %}
      <h5 class="uk-heading-line uk-text-center uk-text-muted filter-title"><span>{{ _('標本資訊') }}</span></h5>
      <div class="uk-flex uk-flex-row uk-width-1-1">
        <input class="uk-input uk-margin-small-right" type="text" name="catalog_number"/>
        <span class="en-dash">-</span>
        <input class="uk-input uk-margin-small-left" type="text" name="catalog_number2"/>
      </div>
      {% endcall %}
      {{ widget('type_status', _('模式標本'), type="select", data=options.type_status) }}
    </fieldset>
    <div class="uk-width-1-1@s">
      <hr class="uk-divider-icon">
      <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit" id='submit-button-bottom'>{{ _('送出') }}</button>
    </div>
  </form>

</div>
