{% extends "sites/hast/base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='vendor/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2.min.js') }}"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="{{ url_for('static', filename='vendor/w2ui-2.0.min.js') }}"></script>
<script>
   const GRID_COLUMNS = [{
    field: 'image_url',
    text:"{{ _('標本照') }}",
    size: '5%',
    render: function (record) {
      if (record.image_url) {
        return `<img src="${record.image_url}" style="height: 30px;" />`;
      }
    },
  }, {
    field: 'catalog_number',
    text: "{{ _('館號') }}",
    size: '7%',
  }, {
    field: 'taxon',
    text: "{{ _('物種') }}",
    size: '25%',
  }, {
    field: 'collector',
    text: "{{ _('採集者') }}",
    size: '15%',
  }, {
    field: 'field_number',
    text: "{{ _('採集號') }}",
    size: '8%',
  }, {
    field: 'collect_date',
    text: "{{ _('採集日期') }}",
    size: '8%',
  }, {
    field: 'locality',
    text: "{{ _('採集地點') }}",
    size: '24%',
  }, {
    field: 'link',
    text: "{{ _('連結') }}",
    size: '5%',
    render: function (record) {
      //return `<a href="/admin/collections/${record.collection_id}/records/${record.record_id}" target="blank_">{{ _('編輯') }}</a> <small>${record.mod_time}</small>`;
      return `<a href="/specimens/HAST:${record.catalog_number}" target="blank_">{{ _('連結') }}</a>`;
    },
   }];
</script>
<script src="{{ url_for('static', filename='sites/hast/js/data-search.js') }}"></script>
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='vendor/select2.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/w2ui-2.0.min.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<link rel="stylesheet" href="{{ url_for('static', filename='sites/hast/css/data-search.css') }}">

{% endblock %}

{% block main %}
{#
    <h3>{{ gettext('標本資料庫查詢') }}</h3>
    <div>{{ ngettext("總共: %(num)d 筆。", "總共: %(num)d 筆。", 135879) }}</div>
#}

<div class="uk-container uk-container-small" id="data-search-container">
  <div class="uk-child-width-expand uk-grid-small" uk-grid>
    <div class="uk-width-1-1" id="data-search-filter-wrapper">
      {% include "sites/hast/_inc_data-search_filter.html" %}
    </div>
    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-expand uk-hidden" id="data-search-result-wrapper">
        {#
        <div class="uk-flex uk-flex-center" id="overlay-spinner">
          <div uk-spinner="ratio: 1.8"></div>
        </div>
        error
        Error: formant.error
        #}
        {% include "sites/hast/_inc_data-search_result.html" %}
    </div>
  </div>
</div>
{% endblock %}
