{% extends "sites/hast/base.html" %}

{% block main %}
<div class="uk-container uk-container-small">
  <article class="uk-article">
    <h1 class="uk-article-title">關於HAST</h1>
     <p class="uk-text-lead">本館主要蒐藏台灣（含附屬島嶼）及東亞維管束植物。特殊的蒐藏有菊科、秋海棠科、鴨跖草科、珍珠菜屬（報春花科）、細辛屬（馬兜鈴科）、魔芋屬（天南星科）、茜草科、地錦屬（大戟科）及茶科。</p>
     <p>蕨類方面有王弼昭先生所採集的10,000多張標本。2003年私立高雄醫學大學贈送本館標本一批。其主要包含日據時代重要採集者島田彌市先生（Yaiti Simada）之標本；亦不乏前台大醫學院長、高醫創辦人杜聰明博士之標本。截至2007年4月為止，已鑑定且編號的蒐藏標本有115,000餘號。平均每年增加約5,000號的標本。本館與世界約30所學術機構交換複份標本，以換取東亞（特別是大陸及日本）植物為重點。目前交換對象除國內各大學及植物研究機構外，遍及亞洲各國、美國、英國及荷蘭之主要大學、植物標本館、博物館與植物園等。</p>
  </article>
</div>
{% endblock%}
