.ndb-chipbox-container {
  border: 1px solid gray;
  width: 650px;
  padding: 2px 12px;
  /*border-radius: 20px;*/
  background-color: #ffffff;
}
.ndb-chipbox-chip {
  border: 1px solid green;
  margin: 2px;
  padding: 2px 6px;
  font-size: 14px;
}
.ndb-chipbox-input {
  border: 0px;
  margin-left: 4px;
  width: 100%;
  font-size: 18px;
  
}
#ndb-chipbox-dropdown {
  display: none;
  position: absolute;
  z-index: 1020;
  --uk-position-offset: 10px;
  --uk-position-viewport-offset: 15px;
  box-sizing: border-box;
  min-width: 650px;
  padding: 25px;
  margin: 0 4px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 12px rgba(0,0,0,.15);
}
.ndb-chipbox-reset {
  width: 40px;
  color: #999;
}
.ndb-chipbox-reset:hover {
  color: #666;
}
.phok-layout-head {
  background-color: #488A99;
  color: #DADADA;
}
.phok-layout-sidebar {
  background-color: #F1F1F1;
  margin: 0px;
  padding: 20px 50px 20px 60px;
}
.phok-token {
  border: 2px dashed #EEEEEE;
}

#my-collection-filter li a {
  border-radius: 3px; 
}

 /* https://codepen.io/yiannistaos/pen/vXqzMw */
 /* select2 ui-kit style */
.bt-select-field .select2-container {
  /*width: 270px !important;*/
  /*width: 100% !important;*/
}
.bt-select-field .select2-container .select2-selection--single { height: 45px; padding: 8px 10px 8px 10px; }
/*.bt-select-field .select2-container .select2-selection--single { height: 30px; padding: 2px 4px; }*/
.bt-select-field .select2-dropdown { background-color: white; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-results__option { padding: 6px; }
.bt-select-field .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ccc; border-radius: 0px; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; }
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 44px;top: 1px;right: 5px;width: 20px; }
/*.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 30px;top: 1px;right: 5px;width: 20px; }*/
.bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; }
.bt-select-field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }
.bt-select-field .select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #ccc; }
.bt-select-field .select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }
.bt-select-field .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }
.bt-select-field .select2-container--default .select2-results__group { padding: 6px; }
