.taxonTree__root {
  list-style: none;
}
.taxonTree__title {
  cursor: pointer;
}
.taxonTree__items {
  list-style: none;
  border-left: 1px solid #dcdcdc;
  white-space: nowrap;
  margin-right: 4px;
  padding-left: 20px;
}
div.taxonTree__title.closed:before {
  content: "+";
  margin-right: 4px;
}
div.taxonTree__title.opened:before {
  content: "-";
  margin-right: 4px;
}
