<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_user.site.name|upper }} Admin | {% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/uikit.min.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='admin.css') }}">
    {% block style %}{% endblock %}
  </head>
  <body>
    <header id="top-head" class="uk-position-fixed">
      <div class="uk-container uk-container-expand uk-background-primary">
	<nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
	  <div class="uk-navbar-left">
	    <div class="uk-navbar-item uk-visible@m">
              <a href="{{ url_for('admin.index' ) }}">{{ current_user.site.title }}</a>{#<a class="uk-logo" href="#"><img class="custom-logo" src="img/dashboard-logo-white.svg" alt=""></a>#}
	    </div>
            <ul class="uk-navbar-nav uk-visible@m">
              <li>
		<a href="#">User <span data-uk-icon="icon: triangle-down"></span></a>
		<div class="uk-navbar-dropdown">
		  <ul class="uk-nav uk-navbar-dropdown-nav">
		    <li class="uk-nav-header">ACCOUNT</li>
                    <li><a href="{{ url_for('admin.reset_password') }}"><span data-uk-icon="icon: user"></span> 改登入密碼</a></li>
		    {#<li><a href="{{ url_for('admin.print_label', entities=current_user.favorites|join(',', attribute='record')) }}"><span data-uk-icon="icon: print"></span> Print</a></li>#}
                    <li><a href="{{ url_for('admin.user_list') }}"><span data-uk-icon="icon: list"></span>收藏清單</a></li>
                    {#<li><a href="{{ url_for('admin.print_label') }}" target="_blank"><span data-uk-icon="icon: print"></span> 列印最愛</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#" id="delete-favorites" data-link="{{ url_for('admin.delete_favorites') }}"><span data-uk-icon="icon: trash"></span>清除最愛</a></li>#}
		    <li class="uk-nav-divider"></li>
                    <li><a href="{{ url_for('admin.user_list_category-list') }}"><span data-uk-icon="icon: tag"></span>收藏清單分類</a></li>
                    {#<li><a href=""><span data-uk-icon="icon: sign-out"></span> Logout</a></li>#}
		  </ul>
		</div>
	      </li>
	    </ul>
          </div>
	  <div class="uk-navbar-right">
	    <ul class="uk-navbar-nav">
              <li><a href="#" data-uk-icon="icon:user" title="Your profile" data-uk-tooltip>{{ current_user.username }}</a></li>
	      <li><a href="#" data-uk-icon="icon:  sign-out" title="Sign Out" id="logout-link" data-uk-tooltip></a></li>
              <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
	    </ul>
	  </div>
	</nav>
      </div>
    </header>
    <aside id="left-col" class="uk-light uk-visible@m">
      <div class="left-logo uk-flex uk-flex-middle">
	{#<img class="custom-logo" src="img/dashboard-logo.svg" alt="">#}{{ current_user.site.name|upper }} Dashboard
      </div>
      {#
      <div class="left-content-box  content-box-dark">
	<img src="img/avatar.svg" alt="" class="uk-border-circle profile-img">
	<h4 class="uk-text-center uk-margin-remove-vertical text-light">John Doe</h4>
	<div class="uk-position-relative uk-display-block">
	  <a href="#" class="uk-text-small uk-text-muted uk-display-block" data-uk-icon="icon: triangle-down; ratio: 0.7">Collection</a>
	  <!-- user dropdown -->
	  <div class="uk-dropdown user-drop" data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
	    <ul class="uk-nav uk-dropdown-nav uk-text-left">
              {% for collection in current_user.site.collections %}
              <li><a href="{{ url_for('admin.dashboard', collection=collection.name )}}">{{ collection.label }}</a></li>
              {% endfor %}
	      <li><a href="#"><span data-uk-icon="icon: info"></span> Summary</a></li>
	      <li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
	      <li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
	      <li class="uk-nav-divider"></li>
	      <li><a href="#"><span data-uk-icon="icon: image"></span> Your Data</a></li>
	      <li class="uk-nav-divider"></li>
	      <li><a href="#"><span data-uk-icon="icon: sign-out"></span> Sign Out</a></li>
	    </ul>
	  </div>
	  <!-- /user dropdown -->
	</div>
      </div>
      #}
      <div class="left-content-box content-box-dark">
	<div class="left-nav-wrap">
	  <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
	    <li class="uk-nav-header">典藏管理</li>
            {#<li><a href="{{ url_for('admin.record_list') }}"><span class="uk-margin-small-right"></span>採集記錄與標本</a></li>#}
            <li><a href="{{ url_for('admin.person-list') }}"><span class="uk-margin-small-right"></span>採集者/鑒定者</a></li>
            <li><a href="{{ url_for('admin.taxon-list') }}"><span class="uk-margin-small-right"></span>學名</a></li>
            {% if current_user.role == "A" %}
            <li class="uk-parent">
	      <a href="#"><span class="uk-margin-small-right"></span>地點 <span uk-nav-parent-icon></span></a>
	      <ul class="uk-nav-sub">
                <li><a href="{{ url_for('admin.named_area-list') }}"><span class="uk-margin-small-right"></span>地點名稱</a></li>
                <li><a href="{{ url_for('admin.area_class-list') }}"><span class="uk-margin-small-right"></span>地理分級</a></li>
	      </ul>
	    </li>
            <li><a href="{{ url_for('admin.record_group-list') }}"><span class="uk-margin-small-right"></span>群組</a></li>
            <li class="uk-parent">
	      <a href="#"><span class="uk-margin-small-right"></span>標本屬性<span uk-nav-parent-icon></span></a>
	      <ul class="uk-nav-sub">
                <li><a href="{{ url_for('admin.assertion_type-list') }}"><span class="uk-margin-small-right"></span>屬性類別</a></li>
	      </ul>
	    </li>
            <li class="uk-parent">
              <a href="#"><span class="uk-margin-small-right"></span>標本標註<span uk-nav-parent-icon></span></a>
              <ul class="uk-nav-sub">
                <li><a href="{{ url_for('admin.annotation_type-list') }}"><span class="uk-margin-small-right">標註類別</span></a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('admin.transaction-list') }}"><span class="uk-margin-small-right"></span>交換/贈送</a></li>
	  </ul>
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
	    <li class="uk-nav-header">資料</li>
            <li><a href="{{ url_for('admin.export_data') }}"><span class="uk-margin-small-right"></span>匯出</a></li>
          </ul>
          {% endif %}
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
	    <li class="uk-nav-header">前台網頁內容</li>
            <li><a href="{{ url_for('admin.article-list') }}"><span class="uk-margin-small-right"></span>最新消息</a></li>
            <li><a href="{{ url_for('admin.article_category-list') }}"><span class="uk-margin-small-right"></span>最新消息類別</a></li>
            {#<li><a href="{{ url_for('admin.related_link-list') }}"><span class="uk-margin-small-right"></span>相關連結</a>{</li>#}
          </ul>
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
            <li class="uk-nav-header">後台管理區</li>
            {#<li><a href="{{ url_for('admin.organization-list') }}"><span class="uk-margin-small-right"></span>研究單位</a></li>#}
            {#<li><a href="{{ url_for('admin.collection-list') }}"><span class="uk-margin-small-right"></span>收藏集</a></li>#}
            {#<li><a href="{{ url_for('admin.related_link_category-list') }}"><span class="uk-margin-small-right"></span>相關連結類別</a></li>#}
            {#<li><a href="{{ url_for('admin.model_history-list') }}"><span class="uk-margin-small-right"></span>修改記錄</a></li>
            #}
          </ul>
	</div>
        {#
	<div class="bar-bottom">
	  <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
	    <li>
	      <a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
	    </li>
	    <li>
	      <a href="#" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a>
	    </li>
	    <li>
	      <a href="#" class="uk-icon-link" data-uk-icon="icon: social"  title="Social" data-uk-tooltip></a>
	    </li>
	    <li>
	      <a href="#" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
	    </li>
	  </ul>
	</div>
        #}
      </div>
    </aside>
    <div id="main-content" data-uk-height-viewport="expand: true">
      <div class="uk-container uk-container-expand">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category in ['primary', 'success', 'warning', 'danger'] %}
        <div class="uk-alert-{{ category }}" uk-alert>
            {% else %}
          <div class="uk-alert-primary" uk-alert>
            {% endif %}
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
          </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
          {% block main %}{% endblock %}
          <footer class="uk-section uk-section-small uk-text-center">
	    <hr>
	    <p class="uk-text-small uk-text-center">2024 | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> </p>
	  </footer>
        </div>
      </div>
      <!-- OFFCANVAS -->
      <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
	  <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
	  <ul class="uk-nav uk-nav-default">
	    <li class="uk-active"><a href="{{ url_for('admin.index') }}">{{ current_user.site.name|upper }}</a></li>
	    <li class="uk-parent">
	      <a href="#">典藏管理</a>
	      <ul class="uk-nav-sub">
                <li><a href="{{ url_for('admin.record_list') }}"><span class="uk-margin-small-right"></span>採集記錄與標本</a></li>
	      </ul>
	    </li>
	    <li class="uk-parent">
	      <a href="#">網頁內容</a>
	      <ul class="uk-nav-sub">
                {#<li><a href="{{ url_for('admin.article-list') }}"><span class="uk-margin-small-right"></span>最新消息</a></li>
                <li><a href="{{ url_for('admin.related_link-list') }}"><span class="uk-margin-small-right"></span>相關連結</a></li>#}
	      </ul>
	    </li>
	    <li class="uk-parent">
	      <a href="#">站台管理</a>
	      <ul class="uk-nav-sub">
                {#
                <li><a href="{{ url_for('admin.collection-list') }}"><span class="uk-margin-small-right"></span>收藏集</a></li>
            <li><a href="{{ url_for('admin.article_category-list') }}"><span class="uk-margin-small-right"></span>最新消息類別</a></li>
            <li><a href="{{ url_for('admin.related_link_category-list') }}"><span class="uk-margin-small-right"></span>相關連結類別</a></li>
            <li><a href="{{ url_for('admin.model_history-list') }}"><span class="uk-margin-small-right"></span>修改記錄</a></li>#}
	      </ul>
	    </li>
            {#
	    <li class="uk-nav-header">Header</li>
	    <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
	    <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
	    <li class="uk-nav-divider"></li>
	    <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
            #}
	  </ul>
          {#
	  <h3>Title</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          #}
	</div>
      </div>
      <!-- /OFFCANVAS -->
      <script src="{{ url_for('static', filename='vendor/uikit.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/uikit-icons.min.js') }}"></script>
      <script src="{{ url_for('admin.static', filename='common.js') }}"></script>
      {% block script %}{% endblock %}
  </body>
</html>
