{% extends "admin/base.html" %}
{% block script %}
{#<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js "></script>#}
<script src="{{ url_for('static', filename='vendor/chart.umd.min.js') }}"></script>
{#<script src="{{ url_for('static', filename='dashboard.js') }}"></script>#}

<script>
 const CollectionChart = document.getElementById('collection-chart');
 const labels = ['標籤', '標本', '館號', '多媒體檔案'];

 const parsed = JSON.parse({{ stats.collection_datasets_json | tojson }});

  new Chart(CollectionChart, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: parsed,
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          type: 'logarithmic',
          title: {
            display: true,
            text: '(logarithmic)'
          }
        }
      }
    }
  });

 const parsed2 = JSON.parse({{ stats.created_chart_json | tojson }});
 console.log(parsed2);
 const CreatedChart = document.getElementById('created-chart');
  new Chart(CreatedChart, {
    type: 'line',
    data: {
      labels: parsed2.labels,
      datasets: [{
        label: '新增標籤數',
        data: parsed2.data,
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
      }],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        }
      }
    }
  });
</script>
{% endblock %}
{% block main %}
<div class="uk-container uk-container-expand">
  <div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" data-uk-grid="">
    <div class="uk-first-column">
      <span class="uk-text-small"><span data-uk-icon="icon:location" class="uk-margin-small-right uk-text-primary uk-icon"></span>採集記錄</span>
      <h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">{{'{:,}'.format(stats.record_total) }}</h1>
      <div class="uk-text-small">
	{#只有採集記錄，沒有標本: {{ '{:,}'.format(stats.record_lack_unit_count) }} 筆#}
      </div>
    </div>
    <div>
      <span class="uk-text-small"><span data-uk-icon="icon:album" class="uk-margin-small-right uk-text-primary uk-icon"></span>標本數量</span>
      <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{ '{:,}'.format(stats.unit_total) }}</h1>
    </div>
    <div>
      <span class="uk-text-small"><span data-uk-icon="icon:tag" class="uk-margin-small-right uk-text-primary uk-icon"></span>館號數量</span>
      <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{ '{:,}'.format(stats.accession_number_total) }}</h1>
    </div>
    <div>
      <span class="uk-text-small"><span data-uk-icon="icon:image" class="uk-margin-small-right uk-text-primary uk-icon"></span>照片數量</span>
      <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{ '{:,}'.format(stats.media_total ) }}</h1>
    </div>
  </div>
  <hr />
  <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
    <!-- panel -->
    <div class="uk-width-1-2@l">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
	<div class="uk-card-header">
	  <div class="uk-grid uk-grid-small">
	    <div class="uk-width-auto"><h4>館藏類別</h4></div>
	    {#
            <div class="uk-width-expand uk-text-right panel-icons">
	      <a href="#" class="uk-icon-link sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
	      <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
	      <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
	    </div>
            #}
	  </div>
	</div>
	<div class="uk-card-body">
	  <div class="chart-container">
	    <canvas id="collection-chart"></canvas>
	  </div>
	</div>
      </div>
    </div>
    <!-- /panel -->
    <!-- panel -->
    <div class="uk-width-1-2@l">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
	<div class="uk-card-header">
	  <div class="uk-grid uk-grid-small">
	    <div class="uk-width-auto"><h4>近期新增</h4></div>
            {#
	    <div class="uk-width-expand uk-text-right panel-icons">
	      <a href="#" class="uk-icon-link sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
	      <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
	      <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
	    </div>
            #}
	  </div>
	</div>
	<div class="uk-card-body">
	  <div class="chart-container">
	    <canvas id="created-chart"></canvas>
	  </div>
	</div>
      </div>
    </div>
    <!-- /panel -->
  </div>
</div>
{% endblock %}
