<template id="assertion-template">
  <div class="uk-width-1-1@s">
    <div class="uk-margin">
      <label class="uk-form-label" for="">{{ label }}</label>
      <div class="uk-form-controls">
      </div>
    </div>
  </div>
</template>

<template id="assertion-template-select2-tag">
  <div class="bt-select-field">
    <select class="uk-select" id="" data-placeholder="{{ _('-- 選擇 --') }}" data-allow-clear="true" style="width: 100%" data-tags="true">
    </select>
  </div>
</template>

<template id="identification-template">
  <div class="uk-card uk-card-default uk-card-hover uk-grid-small uk-padding-small" uk-grid>
    <div class="uk-width-1-1">
      <span class="uk-label uk-label-success">0</span>
    </div>
    {{ widget('taxon', '學名', '', '1-2@s', 'select2') }}
    {{ widget('identifier', '鑑定者', '', '1-6@s', 'select2') }}
    {{ widget('date', '鑑定日期', '', '1-6@s', 'input-date', placeholder='2024-07-09') }}
    {{ widget('date_text', '鑑定日期(部份)', '', '1-6@s', 'input') }}
    {{ widget('verbatim_identification', '學名', '', '1-2@s', 'input', is_verbatim=True) }}
    {{ widget('verbatim_identifier', '鑑定者', '', '1-6@s', 'input', is_verbatim=True) }}

    {{ widget('verbatim_date', '鑑定日期', '', '1-6@s', 'input', is_verbatim=True) }}
    {{ widget('note', '備註', '', '1-6@s', 'textarea') }}
    <div class="uk-width-1-1 uk-text-right">
      <button id="delete-button-id" type="button" class="uk-button uk-button-secondary uk-form-small">{{ _('刪除') }}</button>
    </div>
  </div>
</template>

<template id="unit-template">
  <div class="uk-card uk-card-default uk-width-1-2@s">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg" alt="Avatar">
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
          <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="uk-card-footer">
      <a href="#modal-unit-detail" class="uk-button uk-button-text" uk-toggle>Read more</a>
    </div>
  </div>
</template>
