<!doctype html>
<html class="no-js" lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <title>HAST::print-label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print-label.css') }}?v=230614"/>
  </head>
  <body class="A4">
    {#
    <div class="sheet">
      <h1 class="page-title">page 1</h1>
      <div class="page-item-wrapper">
        <div class="page-item-column">
          <div class="hast-label-item height300">aa</div>
          <div class="hast-label-item height300">bb</div>
          <div class="hast-label-item height300">cc</div>
        </div>
        <div class="page-item-column">
          <div class="hast-label-item height300">dd</div>
        </div>
      </div>
    </div>
    #}
    <div class="sheet">
      <h1 class="page-title">page 1</h1>
      <div class="page-item-wrapper">
        <div class="page-item-column">
          {% for item in items %}
          <div class="hast-label-item">
            {% for id in item.record.identifications[1:] %}
            <div class="id-container">
            <div class="taxon">
              {% if id.taxon.rank == "species" %}
              {% set id_family = id.taxon.get_higher_taxon('family') %}
              {% if id_family %}<span class="taxon-family">{{ id_family.full_scientific_name }}</span>{% endif %}
              <span class="taxon-species">{{ id.taxon.full_scientific_name }}</span>
              {% endif %}
            </div>
            <div class="left-right">
              <span>Det. by {{ id.identifier.display_name }}</span>
              <span>{{ id.get_date_display('%b. %d, %Y') }}</span>
            </div>
          </div>
          {% endfor %}
          <div class="label-title">
            <!-- LAYOUT1 span class="institution-name">中央研究院植物標本館</span><span class="institution-code">(HAST)</span-->
            <span class="collection-name">{% if item.record.get_named_area('COUNTRY') %}{% if item.record.get_named_area('COUNTRY').id == 1311 %}BOTANICAL INVENTORY OF TAIWAN{% else %}PLANTS OF {{ item.record.get_named_area('COUNTRY').name_en.upper() }}{% endif %}{# item.record.get_named_area('country').source_data.countryE #}{% endif %}</span>{# TODO #}
          </div>
          {% set first_id = item.record.get_first_id() %}
          {% if first_id and first_id.taxon %}
          <div class="first-id">
            <div class="taxon">
              <span class="taxon-family">{{ first_id.taxon.get_higher_taxon('family').full_scientific_name }}</span>
              <span class="taxon-species">{{ first_id.taxon.full_scientific_name }} {% if first_id.taxon.common_name %} {{ first_id.taxon.common_name }}{% endif %}</span>
            </div>
            {% if first_id.identifier %}
            <div class="left-right">
              <span>Det. by {{ first_id.identifier.display_name }}</span>
              <span>{% if first_id.date %}{{ first_id.date.strftime('%b. %d, %Y') }}{% endif %}</span>
            </div>
            {% endif %}
          </div>
          {% endif %}
        <div class="locality">
          {% if item.record.get_named_area_map() %}
          <span class="locality-list">
            {% for k, v in item.record.get_named_area_map().items() %}
            {% if k != 'COUNTRY' %}
            {{ v.named_area.display_name }}{% if not loop.last %} ,{% endif %}
            {% endif %}
            {% endfor %}
          </span>
          {% endif %}
          {% if item.record.locality_text %}<span class="box">{{ item.record.locality_text }}</span>{% endif %}
          {% if item.record.locality_text_en %}<span class="box">{{ item.record.locality_text_en }}</span>{% endif %}
          {# if item.record.locality_text or item.record.locality_text_en %}<span class="box">{{ item.record.locality_text }}{% if item.record.locality_text %} ({% endif %}{{ item.record.locality_text_en }}{% if item.record.locality_text %}){% endif %}</span>{% endif #}
          {# if item.record.locality_text_en %}<span class="box">{% if not item.record.locality_text %}({% endif %}{{ item.record.locality_text_en }}{% if not item.record.locality_text %}){% endif %}</span>{% endif #}
        </div>
        <div class="geographic-position">
          {% set coordinate = item.record.get_coordinate('dms') %}
          {% if coordinate %}<span>{{ coordinate.x_label }}, {{ coordinate.y_label }}</span>{% endif %}
          {% if item.record.altitude  %}<span class="altitude">Elev. ca. {{ item.record.altitude }}{% if item.record.altitude2 %}-{{ item.record.altitude2 }}{% endif %} m<span>{% endif %}
        </div>

        <div class="annotation-container">
          {% if item.type == 'unit' and item.unit.notes %}{{ item.unit.notes }}{% endif %}
          {% if item.type == 'unit' and item.unit.get_annotation('add-char') %}{{ item.unit.get_annotation('add-char').value }}{% endif %}
          {% for i in item.assertion_display_list %}
          <div class="annotations">{{ i }}</div>
          {% endfor %}
          {% if item.record.field_note %}<div class="annotations">{{ item.record.field_note }}</div>{% endif %}
          {% if item.record.field_note_en %}<div class="annotations">{{ item.record.field_note_en }}</div>{% endif %}
        </div>
        {% if item.unit.type_status %}{{ item.unit.type_status|capitalize }} of {{ item.unit.typified_name }}{% endif %}
        <div class="collect">
          <span class="collect-num">{% if item.record.collector_id %}{{ item.record.collector.get_display_name('print') }}{% endif %} {{ item.record.field_number }}</span>
          <span class="collect-date">{% if item.record.collect_date %}{{ item.record.collect_date.strftime('%b. %d, %Y') }}{% endif %}</span>
        </div>
        <div class="">{% if item.record.companion_list %}<span class="box companion">& {{ item.record.companion_list|join(', ') }}</span>{% endif %}
        </div>
        <!-- LAYOUT1 div class="footer">HERBARIUM, ACADEMIA SINICA, TAIPEI (HAST)</div-->
        <div class="institution"><span class="institution-name">中央研究院植物標本館</span><span class="institution-code">Herbarium, Academia Sinica, Taipei (HAST)</span></div>
        <div class="annotations">
          {% if item.type == 'unit' and item.unit.get_annotation('greenhouse').value %}<span class="box">Plants of this collection were brought back for cultivation.</span>{% endif %}
          {% if item.unit and item.unit.get_annotation('greenhouse_pressed_date') %}
          {% set p_date = item.unit.get_annotation('greenhouse_pressed_date').value %}
          <span class="box">This specimen was pressed on {{ str_to_date(p_date).strftime('%b. %d, %Y') }}</span>
          {% endif %}
        </div>
        </div>
          {% endfor %}
        </div><!-- end page-item-column -->
        <div class="page-item-column column-1-2"></div>
      </div><!-- end page-item-wrapper -->
    </div><!-- end sheet -->
    <script src="{{ url_for('admin.static', filename='print-label.js') }}"></script>
  </body>
</html>
