{% extends "admin/base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='vendor/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2.min.js') }}"></script>
<script>
 {% include "admin/inc_record-form_script.js" %}
</script>
<script src="{{ url_for('static', filename='vendor/leaflet.js') }}"></script>
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='vendor/select2.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/leaflet.css') }}" rel="stylesheet"/>
<link href="{{ url_for('admin.static', filename='record-form.css') }}" rel="stylesheet" />
{% endblock %}


{% block main %}
<button id="unlock-button"{% if not record_id %}class="uk-hidden"{% endif %}>🔓 編輯(解鎖)</button>

<a href="#" id="hide-left-col-btn" class="uk-button uk-button-link"><span uk-icon="icon: chevron-double-left;"></span>{{ _('關閉側邊欄') }}</a>

<div class="uk-flex uk-flex-between">
  <nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb">
      <li><a href="/admin">Dashboard</a></li>
      <li><a href="/admin/records">{{ _('採集紀錄與標本') }}</a></li>
      {#<li><span aria-current="page">{{ _('標籤') }}</span></li>#}
    </ul>
  </nav>
  <a class="uk-button uk-button-default" href="{{ url_for('admin.print_label') }}?entities=r{{ record_id }}" target="_blank">{{ _('標籤') }} </a>
</div>
<div class="form-container">
<form>
  <ul uk-tab>
    {% if current_user.site.data.phase == 1 %}
    <li class="uk-active"><a href="#" class="ndb-tab-nav" data-tab="raw-data">{{ _('原始資料') }}</a></li>
    <li><a href="#" class="ndb-tab-nav" data-tab="occurrence">{{ _('出現紀錄') }}</a></li>
    {% else %}
    <li class="uk-active"><a href="#" class="ndb-tab-nav" data-tab="occurrence">{{ _('出現紀錄') }}</a></li>
    {% endif %}
    <li><a href="#" class="ndb-tab-nav" data-tab="assertion">{{ _('棲地/環境') }}</a></li>
    <li><a href="#" class="ndb-tab-nav" data-tab="identification">{{ _('鑑定紀錄') }} <span id="ndb-nav-identification-num"></span></a></li>
    {#<li><a href="#" class="ndb-tab-nav" data-tab="multimedia">{{ _('多媒體') }}</a></li>#}
    <li><a href="#" class="ndb-tab-nav" data-tab="changelog">{{ _('編輯紀錄') }}</a></li>
    <li><a href="#" class="ndb-tab-nav" data-tab="sourcedata">{{ _('原始資料') }}</a></li>
  </ul>

  {% if current_user.site.data.phase == 1 %}
  <div id="raw-data-container" data-tab="raw-data" class="uk-grid-small ndb-tab-view" uk-grid>
  </div>
  {% endif %}
  <div data-tab="occurrence" class="ndb-tab-view{% if current_user.site.data.phase == 1 %} uk-hidden{% endif %}">
    <div class="uk-grid-small" uk-grid="masonry: pack">
      <div class="uk-width-1-2">
        <div class="ndb-fieldset">
          <div class="ndb-legend">{{ _('採集資訊') }}</div>
          <div class="uk-grid-small" uk-grid>
            {{ widget('collector', _('採集者'), '', '1-2@s', 'select2') }}
            {{ widget('field_number', _('採集號'), '', '1-4@s') }}
            {{ widget('collect_date', _('採集日期'), '', '1-4@s', 'input-date', placeholder='1988-05-15') }}

            {{ widget('verbatim_collector', _('採集者'), '', '1-2@s', 'textarea', is_verbatim=True) }}
            {{ widget('verbatim_collect_date', _('採集日期'), '', '1-4@s', is_verbatim=True) }}
            {{ widget('collect_date_text', _('採集日期(部份)'), '', '1-4@s', placeholder='2015-03, 1985') }}

            {{ widget('companion_text', _('協同採集者'), '', '1-2@s', 'textarea') }}
            {{ widget('companion_text_en', _('協同採集者(英文)'), '', '1-2@s', 'textarea', class_name='ndb-form-english') }}
            {{ widget('field_note', _('備註/採集紀錄'), '', '1-2@s', 'textarea') }}
            {{ widget('field_note_en', _('備註/採集紀錄(英文)'), '', '1-2@s', 'textarea', class_name='ndb-form-english') }}
            <div class="uk-width-1-1">
              <span class="ndb-legend2">{{ _('物種') }}</span>
              <intput type="hidden" id="first-id_id-id" value="" />
            </div>
            {{ widget('first-id_taxon_id', _('學名'), '', '1-1@s', 'select2') }}
            {{ widget('first-id_verbatim_identification', _('學名'), '', '1-1@s', 'input', is_verbatim=True) }}
            {# widget('first-id_date_text', _('鑑定日期(部份)'), '', '1-4@s', 'input') #}
            {# widget('first-id_identifier_id', _('鑑定者'), '', '1-1@s', 'select2') }#}
            {# widget('first-id_date', _('鑑定日期'), '', '1-3@s', 'input-date', placeholder='2024-07-09') #}

            {# widget('first-id_verbatim_identifier', _('鑑定者'), '', '1-4@s', 'input', is_verbatim=True) #}
            {# widget('first-id_verbatim_date', _('鑑定日期'), '', '1-4@s', 'input', is_verbatim=True) #}
            {# widget('first-id_note', _('備註'), '', '1-1@s', 'textarea') #}

            {{ widget('last_identification', _('最後鑑定'), '', '1-1@s', 'input', disabled=True) }}
          </div>
        </div>
      </div>
      <div class="uk-width-1-2">
        <div class="ndb-fieldset">
          <div class="ndb-legend">{{ _('採集地點') }}</div>
          <div class="uk-grid-small" uk-grid>
            {{ widget('COUNTRY', '國家', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=7') }}
            {{ widget('ADM1', '1級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=8') }}
            {{ widget('ADM2', '2級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=9') }}
            {{ widget('ADM3', '3級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=10') }}
            <div class="uk-width-1-1">
              <div id="area-class-container" class="uk-grid-small" uk-grid></div>
            </div>
            {{ widget('locality_text', '詳細地點', '', '1-1@s', 'textarea') }}
            {{ widget('locality_text_en', '詳細地點(英文)', '', '1-1@s', 'textarea', class_name='ndb-form-english') }}
            <div class="uk-width-1-1">
              <span class="ndb-legend2">{{ _('地理資訊') }}</span>
            </div>
            <div class="uk-width-1-1@s" id="record-map-wrapper">
              <div id="record-map"></div>
            </div>
            {{ widget('altitude', '海拔', '', '1-4@s', 'input') }}
            {{ widget('altitude2', '海拔(最高)', '', '1-4@s', 'input') }}
            {{ widget('geodetic_datum', '大地座標', '', '1-4@s', 'select', options=[{'text': 'WGS84', 'value': 'WGS84'}, {'text': 'TWD97', 'value': 'TWD97'},{'text': 'TWD67', 'value': 'TWD67'}]) }}
            <div class="uk-width-1-4">
              <div class="uk-margin">
                <label class="uk-form-label">&nbsp;</label>
                <div class="uk-form-controls">
                  <button class="uk-button uk-button-small uk-button-default" type="button" uk-toggle="target: #toggle-geo-dms">{{ _('度分秒轉換器') }}</button>
                </div>
              </div>
            </div>
            <div id="toggle-geo-dms" class="uk-width-1-1@s uk-grid-collapse" uk-grid hidden>
              {{ widget('lon-dir', '東西經', '', '1-4@s', 'select', options=[{'value':1, 'text': 'E 東經'}, {'value':-1, 'text': 'W 西經'}], class_name='ndb-conv-coordinate') }}
              {{ widget('lon-degree', '度', '', '1-4@s', placeholder='-180 ~ 180', class_name='ndb-conv-coordinate', data={'coordinate': 'lon-degree'}) }}
              {{ widget('lon-minute', '分', '', '1-4@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
              {{ widget('lon-second', '秒', '', '1-4@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
              {{ widget('lat-dir', '南北緯', '', '1-4@s', 'select', options=[{'value':1, 'text': 'N 北緯'}, {'value':-1, 'text': 'S 南緯'}]) }}
              {{ widget('lat-degree', '度', '', '1-4@s', placeholder='-90 ~ 90', class_name='ndb-conv-coordinate') }}
              {{ widget('lat-minute', '分', '', '1-4@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
              {{ widget('lat-second', '秒', '', '1-4@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
            </div>
            {{ widget('longitude_decimal', _('經度:十進位'), '', '1-4@s', class_name='ndb-conv-coordinate') }}
            {{ widget('latitude_decimal', _('緯度:十進位'), '', '1-4@s', class_name='ndb-conv-coordinate') }}
            {{ widget('verbatim_longitude', '經度', '', '1-4@s', placeholder='E 120° 58\' 55.29"', is_verbatim=True) }}
            {{ widget('verbatim_latitude', '緯度', '', '1-4@s', placeholder='N 23° 58\' 25.95"', is_verbatim=True) }}
            {{ widget('verbatim_locality', '採集地點', '', '1-1@s', 'textarea', is_verbatim=True) }}
          </div>
        </div>
      </div>
      <div class="uk-width-1-2">
        <div class="ndb-fieldset">
          <div class="ndb-legend">{{ _('紀錄資訊') }}</div>
          <div class="uk-grid-small" uk-grid>
            {{ widget('record_groups', _('群組(計畫...)'), '', '3-4@s', 'select2') }}
            {{ widget('pub_status', _('公開'), '', '1-4@s', 'select') }}
          </div>
        </div>
      </div>
    </div>
    <hr class="uk-divider-icon">
    <div uk-grid>
    <div class="uk-width-1-1">
      <div class="ndb-fieldset">
        <div class="ndb-legend">{{ _('標本資訊') }}</div>
        <button class="uk-button uk-button-small" type="button" id="unit-add-button">+{{ _('新增') }}</button>
        <div id="unit-container" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-3@l uk-child-width-1-4@xl" uk-grid>
        </div>
      </div>
    </div>
    </div><!-- END: occurrence -->
  </div>
  <div data-tab="assertion" class="uk-grid-small ndb-tab-view uk-hidden" uk-grid>
    <div class="uk-width-1-1">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{ _('棲地/環境') }}</legend>
        <div class="uk-grid-small" uk-grid id="record-assertions">
        </div>
      </fieldset>
    </div>
  </div><!-- END: assertion -->
  <div class="uk-grid-small ndb-tab-view uk-hidden" data-tab="identification" uk-grid>
    <h3 class="uk-heading-bullet">鑑定 <button class="uk-button uk-button-small" type="button" id="identification-add-button">+{{ _('新增') }}</button></h3>
    <div id="identification-container"></div>
  </div>{# end of nav identification #}

  <div class="uk-grid-small ndb-tab-view uk-hidden" data-tab="multimedia" uk-grid>
    <h3 class="uk-heading-bullet">{{ _('多媒體') }} </h3>
    <div class="uk-width-1-1">
    </div>
  </div>
  <div class="uk-grid-small ndb-tab-view uk-hidden" data-tab="changelog" uk-grid>
    <h3 class="uk-heading-bullet">{{ _('編輯紀錄') }}</h3>
    <div class="uk-width-1-1">
     <ul uk-accordion="multiple: true" id="changelog-container">
     </ul>
    </div>
  </div>
  <div class="uk-grid-small ndb-tab-view uk-hidden" data-tab="sourcedata" uk-grid>
    <h3 class="uk-heading-bullet">{{ _('原始資料') }}</h3>
    <div class="uk-width-1-1">
      <pre><code id="sourcedata-content"></code></pre>
    </div>
  </div>

  <hr class="uk-divider-icon">
  <div class="uk-flex uk-flex-between">
    <div><button class="uk-button uk-button-danger" id="delete-button">{{ _('刪除') }}</button></div>
    <div class="uk-flex uk-flex-right">
      <div class="uk-margin-left"><button class="uk-button uk-button-default" id="save-test-button">{{ _('test') }}</button></div>
      <div class="uk-margin-left"><button class="uk-button uk-button-secondary" id="save-new-button">{{ _('儲存並新增一筆') }}</button></div>
      <div class="uk-margin-left"><button class="uk-button uk-button-secondary" id="save-cont-button">{{ _('儲存並繼續編輯') }}</button></div>
      <div class="uk-margin-left"><button class="uk-button uk-button-primary" id="save-button">{{ _('儲存並回到藏品列表') }}</button></div>
    </div>
  </div>
  <div id="unit-modal-container">
  </div>
</form>
<div id="overlay" class="overlay"{% if not record_id %} style="display:none;"{% endif %}></div>
</div>{# form-container #}

{% include "admin/inc_record-form_hidden.html" %}

{% endblock %}


{% macro widget(name, label, value='', width='1-4@s', type='input', options=[], placeholder='', is_verbatim=False, class_name='', data={}, disabled=False) -%}
<div class="uk-width-{{ width }}{# ndb-grid-tiny#}">
  <div class="uk-margin">
    <label class="uk-form-label" for="{{ name }}-id">{% if is_verbatim %}<span uk-icon="icon: file-text;"></span>[逐字]{% endif %}{{ label }}</label>
    <div class="uk-form-controls">
      {% if type == "input" %}
      <input class="uk-input uk-form-small{% if is_verbatim %} ndb-form-verbatim{% endif %}{% if class_name %} {{ class_name }}{% endif %}" id="{{ name }}-id" type="text" placeholder="{{ placeholder }}" name="{{ name }}" value="{{ value }}" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}{% if disabled == True %} disabled{% endif %}>
      {% elif type == "input-date" %}
      <input class="uk-input uk-form-small" id="{{ name }}-id" type="date" name="{{ name }}" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>
      {% elif type == "input-number" %}
      <input class="uk-input uk-form-small{% if class_name %} {{ class_name }}{% endif %}" id="{{ name }}-id" type="number" name="{{ name }}" value="{{ value }}" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}{% if disabled == True %} disabled{% endif %}>
      {% elif type == "textarea" %}
      <textarea name="{{ name }}" class="uk-textarea uk-form-small{% if is_verbatim %} ndb-form-verbatim{% endif %}{% if class_name %} {{ class_name }}{% endif %}" id="{{ name }}-id"{% if disabled == True %} disabled{% endif %}{% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>{{ value }}</textarea>
      {% elif type == "select" %}
      <select name="{{ name }}" class="uk-select uk-form-small" id="{{ name }}-id" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>
        {% for option in options %}
        <option value="{{ option.value }}">{{ option.text }}</option>
        {% endfor %}
      </select>
      {% elif type == "select2" %}
      <div class="bt-select-field">
        <select class="uk-select uk-form-small" id="{{ name }}-id" data-placeholder="{{ _('-- 選擇 --') }}" data-allow-clear="true" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>
        </select>
      </div>
      {% elif type == "combobox" %}
      <div class="combobox-container">
        <div class="uk-inline uk-width">
          <a class="uk-form-icon uk-form-icon-flip combobox-icon" uk-icon="icon: chevron-down" id="{{ name }}-id-icon" data-name="{{ name }}"></a>
          <input class="uk-input combobox-display" type="text" placeholder="-- 選擇 --" readonly id="{{ name }}-id-display" data-name="{{ name }}" data-value="" />
        </div>
        <div class="uk-inline combobox-input-container" id="{{ name }}-box-container">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input uk-form-small combobox-input" id="{{ name }}-input" data-name="{{ name }}" data-attr="{{ data }}" autocomplete="off"/>
        </div>
        <ul class="combobox-items-list" id="{{ name }}-list-container">
        </ul>
      </div>
      {% elif type == "input-hidden" %}
      <input class="" id="{{ name }}-id" type="hidden" name="{{ name }}" value="{{ value }}" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro heading(title) -%}
<div class="uk-width-1-1 uk-grid-small">
  <h4 class="uk-heading-bullet">{{ title }}</h4>
</div>
{%- endmacro %}
