{% extends "admin/base.html" %}

{% block script %}
<script>
 let gFetchArgs = {};
 const GRID_COLUMNS = [{
   field: 'image_url',
   text:"{{ _('標本照') }}",
   size: '5%',
   render: function (record) {
     if (record.image_url) {
       return `<img src="${record.image_url}" style="height: 40px;" />`;
     }
   },
 }, {
   field: 'catalog_number_display',
   text: "{{ _('館號') }}",
   size: '8%',
 }, {
   field: 'taxon',
   text: "{{ _('物種') }}",
   size: '25%',
 }, {
   field: 'collector',
   text: "{{ _('採集者') }}",
   size: '15%',
 }, {
   field: 'field_number',
   text: "{{ _('採集號') }}",
   size: '8%',
 }, {
   field: 'collect_date',
   text: "{{ _('採集日期') }}",
   size: '8%',
 }, {
   field: 'locality',
   text: "{{ _('採集地點') }}",
   size: '24%',
 }, {
   field: 'mod_time',
   text: "{{ _('修改') }}",
   size: '10%',
   render: function (record, extra) {
     //return `<a href="/admin/collections/${record.collection_id}/records/${record.record_id}" target="blank_">{{ _('編輯') }}</a> <small>${record.mod_time}</small>`;
     console.log(gFetchArgs, extra.index);
     let parts = [
       `start=${gFetchArgs.start}`,
       `end=${gFetchArgs.total}`,
       `index=${extra.index}`
     ];
     let append = '';
     if (gFetchArgs.sort) {
       parts.push(`sort=${JSON.stringify(gFetchArgs.sort)}`);
     }
     if (gFetchArgs.filter) {
       parts.push(`filter=${JSON.stringify(gFetchArgs.filter)}`);
     }
     append = encodeURIComponent(parts.join('&'));
     return `<a href="/admin/records/r${record.record_id}" target="blank_">{{ _('詳細編輯') }}</a> <small>${record.mod_time}</small><br><a href="/admin/units/${record.item_key.replace('u', '')}/simple-entry?${append}">- 簡單 -</a>`;
   },
 }];
 </script>
<script src="{{ url_for('static', filename='vendor/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/tom-select.complete.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/w2ui-2.0.min.js') }}"></script>
<script src="{{ url_for('admin.static', filename='record-list.js') }}"></script>
<script src="{{ url_for('admin.static', filename='record-list-image-viewer.js') }}"></script>
{#<script src="https://cdn.tailwindcss.com"></script>#}
<script src="{{ url_for('static', filename='vendor/tailwind.js') }}"></script><!-- TODO need generate production version -->
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='vendor/select2.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/w2ui-2.0.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/tom-select.default.min.css') }}" rel="stylesheet" />
{#<link href="{{ url_for('static', filename='vendor/tailwind.css') }}" rel="stylesheet" />#}
<style>
 #image-container {
   cursor: grab;
   transition: transform 0.3s ease-out; /* Smooth transitions for programmatic changes */
 }
 #image-container.grabbing {
   cursor: grabbing;
 }
 #image-display {
   /* Prevent browser's default image drag behavior */
   -webkit-user-drag: none;
   user-select: none;
   /* Ensure smooth scaling and moving */
   will-change: transform;
   transition: transform 0.1s linear; /* Fast transition for dragging */
 }
</style>
{% endblock %}

{% macro quick_input(name, label, placeholder='', type_='', class_name='', helper='', options=[]) -%}
<div class="uk-margin-xsmall{% if class_name %} {{ class_name }}{% endif %}">
  <label class="uk-form-label" for="quick-{{ name }}">{{ label }}</label>
  <div class="uk-form-controls">
    {% if type_ == "text" %}
    <textarea class="uk-textarea" id="quick-{{ name }}" name="{{ name }}"></textarea>
    {% elif type_ == "select" %}
    <select class="uk-select" id="quick-{{ name }}" name="{{ name }}">
      <option value="">-- 選擇 --</option>
      {% for opt in options %}
      <option value="{{ opt }}">{{ opt }}</option>
      {% endfor %}
    </select>
    {% else %}
    <input class="uk-input" id="quick-{{ name }}" name="{{ name }}" type="text" placeholder="{{ placeholder }}">
    {% endif %}
    {% if helper %}<span class="uk-text-meta">{{ helper }}</span>{% endif %}
  </div>
</div>
{%- endmacro %}

{% block main %}
<nav aria-label="Breadcrumb">
  <ul class="uk-breadcrumb">
    <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
    <li><span>採集記錄與標本</span></li>
  </ul>
</nav>

<div>
  <form class="uk-form-stacked" id="form">
    {#<legend class="uk-legend">{{ _('紀錄與標本') }}</legend>#}

    <div class="uk-grid-small" uk-grid>
      <div class=" uk-width-1-6">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-filter-collection">{{ _('典藏類別') }}</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-filter-collection" name="collection_id">
              <option value="">{{ _('全部') }}</option>
              {% for item in collections %}
              <option value="{{ item.id }}">{{ item.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class=" uk-width-1-2">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-filter-record-group">{{ _('集合') }}</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="form-filter-record-group" name="record_group_id">
              <option value="">{{ _('全部') }}</option>
              {% for k, v in record_groups.items() %}
              <optgroup label="{{ v.label }}">
                {% for i in v['items'] %}
                <option value="{{ i.id }}">{{ v.label }}:{{ i.name }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="uk-width-1-6">
        <div class="uk-margin">
          <label class="uk-form-label">{{ _('排序') }}</label>
          <div class="uk-form-controls">
            <select class="uk-select" name="sort">
              <option value="">-- choose --</option>
              <option value="-id">新增時間 (新 -> 舊)</option>
              <option value="field_number">採集號 (小 -> 大)</option>
              <option value="catalog_number">館號 (小 -> 大)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="uk-width-1-6">
        <div class="uk-margin">
          <label class="uk-form-label">&nbsp;</label>
          <div class="uk-form-controls">
            <button type="submit" class="submit uk-button uk-button-primary" id="form-submit">{{ _('搜尋') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class=" uk-width-1-1">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-filter-record-group">{{ _('搜尋') }}</label>
          <div class="uk-form-controls">
            <div class="bt-select-field">
              <select class="uk-select" name="q" id="form-search">
              </select>
            </div>
          </div>
              <div class="uk-text-meta">keyword: 館號、物種、採集者、採集號 (採集號輸入 100--200，可以搜尋連號，要"--"2個dash, 然後要點擊新選項)，可多選</div>
        </div>
      </div>
  </form>
  <hr class="uk-divider-icon" />
  <p>{{ _('篩選結果') }}: <span id="result-total"></span>筆 <span id="result-note"></span></p>
</div>

<a id="quick-edit-btn" class="uk-button uk-button-default uk-button-secondary uk-hidden" href="#modal-media-image" uk-toggle>{{ _('快速編輯') }}</a>

<ul class="uk-subnav uk-subnav-pill" uk-margin>
  <li>
    <a href>{{ _('新增紀錄') }} <span uk-icon="icon: file-edit"></span></a>
    <div uk-dropdown="mode: click">
      <ul class="uk-nav uk-dropdown-nav">
        {% for col in collections %}
        <li><a href="{{ url_for('admin.record_form_create', collection_id=col.id) }}">{{ col.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li>
    <a href>{{ _('加入收藏清單') }} <span uk-icon="icon: check"></span></a>
    <div uk-dropdown="mode: click" id="user-list-dropdown">
      <ul class="uk-nav uk-dropdown-nav">
        {% for list_cat in current_user.user_list_categories %}
        <li><a href="#" class="nav-user-list" data-cat="{{ list_cat.id }}" data-uid="{{ current_user.id }}">{{ list_cat.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>

<div uk-spinner id="loading"></div>
<div id="tabs" style="width: 100%;"></div>
<div id="record-grid" style="width: 100%; height: 540px; overflow-hidden"></div>
<div id="tab2" class="uk-hidden">

    <hr class="uk-divider-icon">
    <img id="toggle-image" src="" />
    <ul id="thumbnav" class="uk-thumbnav" uk-margin>
      {#<li class="uk-active"><div><img src="" width="50" alt="" /><div>x</div></div></li>#}
    </ul>
</div>

<ul class="uk-pagination uk-flex-center" id="pagination" uk-margin>
  {#
  <li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
  <li class="uk-active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
  #}
</ul>
<div class="uk-flex uk-flex-center uk-flex-middle uk-margin">
  <div>Jump to page: </div>
  <div><select class="uk-select" id="to-page-select"></select></div>
</div>


<div id="modal-media-image" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-width-auto">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-grid-small uk-padding-small" uk-grid>
      <div class="uk-width-3-5">
        <div class="w-full max-w-4xl mx-auto flex flex-col">
          <h1 class="text-3xl font-bold text-center mb-2 text-gray-800">Specimen Viewer [<span id="image-viewer-index"></span>]</h1>
          <div class="inline-flex justify-center items-center">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" id="btn-viewer-prev">
              Prev
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" id="btn-viewer-next">
              Next
            </button>
            <div class="ml-5 mr-1">size</div>
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 border border-gray-400 rounded shadow" id="btn-viewer-size-l">
              1024
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" id="btn-viewer-size-x">
              2048
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" id="btn-viewer-size-o">
              4096
            </button>
            <div class="ml-2">大的看仔細，小的翻頁快</div>
          </div>
          <div class="inline-flex justify-center">

          </div>
          <p class="text-center text-gray-400 mb-6">Use buttons or mouse wheel to zoom. Click and drag to pan.</p>
          <!-- The main viewport for the image -->
          <div id="viewer" class="w-full h-[60vh] md:h-[70vh] bg-gray-800 border-4 border-gray-700 rounded-xl shadow-2xl overflow-hidden relative">
            <div id="image-container" class="w-full h-full flex items-center justify-center">
              <img id="image-display" src="" alt="Interactive image" class="max-w-full max-h-full object-contain">
            </div>
          </div>

          <!-- Controls Section -->
          <div class="flex items-center justify-center space-x-4 mt-6">
            <!-- Zoom Controls -->
            <div class="flex items-center bg-gray-700 rounded-lg p-1 shadow-md">
              <button id="zoom-out" class="p-2 rounded-md hover:bg-gray-600 transition-colors duration-200" aria-label="Zoom out">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM13 10H7" /></svg>
              </button>
              <button id="reset-zoom" class="p-2 rounded-md hover:bg-gray-600 transition-colors duration-200" aria-label="Reset zoom">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h5M20 20v-5h-5" /></svg>
              </button>
              <button id="zoom-in" class="p-2 rounded-md hover:bg-gray-600 transition-colors duration-200" aria-label="Zoom in">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM10 7v6m3-3h-6" /></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-2-5">
        <div class="uk-container-small uk-margin-top-small">
          <form class="uk-form-stacked uk-margin-small" id="quick-form">
            <fieldset class="uk-fieldset">
              <legend class="uk-legend">Quick Edit</legend>
              {{ quick_input('catalog_number', '館號') }}
              <div class="uk-margin-xsmall">
                <label class="uk-form-label" for="quick-collector_id">{{ _('採集者') }}</label>
                <div class="uk-form-controls">
                  <select class="uk-select" id="quick-collector_id" name="collector_id">
                    <option value="">-- {{ _('選擇') }} --</option>
                  </select>
                </div>
              </div>
              {{ quick_input('verbatim_collector', '採集者(逐字)') }}
              {{ quick_input('companion_text', '隨同採集者(逐字)') }}
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('field_number', '採集號') }}
                {{ quick_input('collect_date', '採集日期', '' , class_name='uk-margin-xsmall-left') }}
                {# 分開 y m d
                {% set options_year = range(1900, 2026) | list %}
                {% set options_month = range(1, 13) | list %}
                {% set options_day = range(1, 32) | list %}
                {{ quick_input('collect_date__y', '採集日期:年', '' , type_='select', class_name='uk-margin-xsmall-left', options=options_year) }}
                
                {{ quick_input('collect_date__m', '採集日期:月', '' , type_='select', class_name='uk-margin-xsmall-left', options=options_month) }}
                {{ quick_input('collect_date__d', '採集日期:日', '' , type_='select', class_name='uk-margin-xsmall-left', options=options_day) }}
                #}
              </div>
              {{ quick_input('verbatim_collect_date', '採集日期(逐字)') }}
              <div class="uk-margin-xsmall">
                <label class="uk-form-label" for="quick-taxon_id">{{ _('學名') }}</label>
                <div class="uk-form-controls">
                  <select class="uk-select" id="quick-taxon_id" name="taxon_id">
                    <option value="">-- {{ _('選擇') }} --</option>
                  </select>
                </div>
              </div>
              {{ quick_input('quick__scientific_name', '學名(文字)', '', 'text') }}
              {{ quick_input('quick__verbatim_scientific_name', '學名(逐字)', '', 'text') }}
              {{ quick_input('verbatim_locality', '採集地(逐字)', '', 'text') }}
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('altitude', '海拔') }}
                {{ quick_input('altitude2', '海拔2', '' , class_name='uk-margin-xsmall-left') }}
              </div>
              <div class="uk-margin-xsmall">
                <label class="uk-form-label" for="quick-named_area_country">{{ _('國家') }}</label>
                <div class="uk-form-controls">
                  <select class="uk-select" id="quick-named_area_country" name="named_area_country">
                    <option value="">-- {{ _('選擇') }} --</option>
                  </select>
                </div>
              </div>
              <div class="uk-flex uk-flex-bottom">
                <div class="uk-margin-xsmall" style="flex: 1;">
                  <label class="uk-form-label" for="quick-named_area_adm1">{{ _('1級行政區') }}</label>
                  <div class="uk-form-controls">
                    <select class="uk-select" id="quick-named_area_adm1" name="named_area_adm1">
                      <option value="">-- {{ _('選擇') }} --</option>
                    </select>
                  </div>
                </div>
                <div class="uk-margin-xsmall uk-margin-xsmall-left" style="flex: 1;">
                  <label class="uk-form-label" for="quick-named_area_adm2">{{ _('2級行政區') }}</label>
                  <div class="uk-form-controls">
                    <select class="uk-select" id="quick-named_area_adm2" name="named_area_adm2">
                      <option value="">-- {{ _('選擇') }} --</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="uk-margin-xsmall">
                <label class="uk-form-label" for="quick-named_area_adm3">{{ _('3級行政區') }}</label>
                <div class="uk-form-controls">
                  <select class="uk-select" id="quick-named_area_adm3" name="named_area_adm3">
                    <option value="">-- {{ _('選擇') }} --</option>
                  </select>
                </div>
              </div>
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('verbatim_longitude', 'x座標(逐字)', '經度', helper='') }}
                {{ quick_input('verbatim_latitude', 'y座標(逐字)', '緯度' , helper='', class_name='uk-margin-xsmall-left') }}
              </div>
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('quick__longitude', '經度(度分秒)', '120-58-55.29', helper='用-分隔') }}
                {{ quick_input('quick__latitude', '緯度(度分秒)', '23-58-25.95' , helper='用-分隔', class_name='uk-margin-xsmall-left') }}
              </div>
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('decimal_longitude', '經度(10進位)', '121.109722', helper='') }}
                {{ quick_input('decimal_latitude', '緯度(10進位)', 'ex: 24.496388' , helper='', class_name='uk-margin-xsmall-left') }}
                <div class="uk-margin-xsmall-left">
                  <button type="button" id="btn-find-areas-by-coords" class="uk-button uk-button-small uk-button-primary" title="{{ _('根據座標查詢行政區') }}">
                    🌍
                  </button>
                </div>
              </div>
              <span class="uk-label">鑑定1</span>
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('quick__id1_id', 'id1') }}
                {{ quick_input('quick__id1_verbatim_identifier', '鑑定者(逐字)') }}
                {{ quick_input('quick__id1_verbatim_date', '鑑定日期(逐字)' , class_name='uk-margin-xsmall-left') }}
              </div>
              {{ quick_input('quick__id1_verbatim_identification', '鑑定學名') }}
              <span class="uk-label">鑑定2</span>
              <div class="uk-flex uk-flex-bottom">
                {{ quick_input('quick__id2_id', 'id2') }}
                {{ quick_input('quick__id2_verbatim_identifier', '鑑定者(逐字)') }}
                {{ quick_input('quick__id2_verbatim_date', '鑑定日期(逐字)' , class_name='uk-margin-xsmall-left') }}
              </div>
              {{ quick_input('quick__id2_verbatim_identification', '鑑定學名') }}
              <div class="uk-alert-warning" uk-alert>
                <p>如果有超過2個以上的鑑定、只要輸入最初跟最後鑑定，然後再"輸入者備註"欄位填上 "鑑定資料未完整"</p>
              </div>
              {{ quick_input('quick__other_text_on_label', '標籤上的其他文字', '', 'text') }}
              {{ quick_input('quick__other_text_on_label', '標籤上的其他文字', '', 'text') }}
              {{ quick_input('quick__user_note', '輸入者備註', '', 'text')}}
              <button class="uk-button uk-button-primary" id="btn-quick-submit">Save!</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- end of uk-grid  -->
  </div>
</div>

{% endblock %}
