{% extends "admin/base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
{#<script src="{{ url_for('admin.static', filename='record-form2.js') }}">#}
<script>
   {% include "admin/inc_record-form2.tpl.js" %}
</script>
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('admin.static', filename='record-form2.css') }}" rel="stylesheet" />
{% endblock %}


{% block main %}
<a href="#" id="hide-left-col-btn" class="uk-button uk-button-link"><span uk-icon="icon: chevron-double-left;"></span>{{ _('關閉側邊欄') }}</a>

<nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/records">{{ _('採集紀錄與標本') }}</a></li>
        {#<li><span aria-current="page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li>#}
    </ul>
</nav>

<form>
  <ul uk-tab>
    <li class="uk-active"><a href="#" class="ndb-tab-nav" data-tab="occurrence">{{ _('出現紀錄') }}</a></li>
    <li><a href="#" class="ndb-tab-nav" data-tab="identifications">{{ _('鑑定紀錄') }}</a></li>
    <li><a href="#">Images</a></li>
  </ul>
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@s">
  {#<h3 class="uk-card-title">Default</h3>#}
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  <div data-tab="occurrence" class="uk-grid-small ndb-tab-view" uk-grid>
    <div class="uk-width-5-6">
      <h3 class="uk-heading-bullet">{{ _('採集資訊') }}</h3>
      <div class="uk-grid-small" uk-grid>
        {{ widget('collector', _('採集者'), '', '1-3@s', 'select2') }}
        {{ widget('field_number', _('採集號'), '', '1-6@s') }}
        {{ widget('collect_date', _('採集日期'), '', '1-6@s', 'input-date', placeholder='1988-05-15') }}
        {{ widget('collect_date_text', _('採集日期(部份)'), '', '1-6@s', placeholder='2015-03, 1985') }}
        {{ widget('verbatim_collect_date', _('採集日期'), '', '1-6@s', is_verbatim=True) }}
        {{ widget('verbatim_collector', _('採集者'), '', '1-3@s', 'textarea', is_verbatim=True) }}
        {{ widget('companion_text', _('協同採集者'), '', '1-3@s', 'textarea') }}
        {{ widget('companion_text_en', _('協同採集者(英文)'), '', '1-3@s', 'textarea', class_name='ndb-form-english') }}
        {{ widget('field_note', _('備註/採集紀錄'), '', '1-2@s', 'textarea') }}
        {{ widget('field_note_en', _('備註/採集紀錄(英文)'), '', '1-2@s', 'textarea', class_name='ndb-form-english') }}
      </div>
    </div>
    <div class="uk-width-1-6">
      <a class="" href="#modal-media-image" uk-toggle uk-tooltip="{{ _('放大標本照') }}"><img src="" id="image-url"></a>
    </div>
    <div class="uk-width-1-2">
      <div class="uk-grid-small" uk-grid>
        {{ widget('COUNTRY', '國家', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=7') }}
        {{ widget('ADM1', '1級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=8') }}
        {{ widget('ADM2', '2級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=9') }}
        {{ widget('ADM3', '3級行政區', '', '1-2@s', 'select2', 'fetch:/api/v1/named-areas;filter:area_class_id=10') }}
        {{ widget('locality_text', '詳細地點', '', '1-2@s', 'textarea') }}
        {{ widget('locality_text_en', '詳細地點(英文)', '', '1-2@s', 'textarea') }}
        {{ widget('verbatim_locality', '採集地點', '', '1-2@s', 'textarea', is_verbatim=True) }}
      </div>
    </div>
    <div class="uk-width-1-2">
      <div class="uk-grid-small" uk-grid>
        {{ widget('geodetic_datum', '大地座標', '', '1-3@s', 'input') }}
        {{ widget('altitude', '海拔', '', '1-3@s', 'input') }}
        {{ widget('altitude2', '海拔2', '', '1-3@s', 'input') }}
        {{ widget('lon-dir', '東西經', '', '1-6@s', 'select', options=[{'value':1, 'text': 'E 東經'}, {'value':-1, 'text': 'W 西經'}], class_name='ndb-conv-coordinate') }}
        {{ widget('lon-degree', '度', '', '1-6@s', placeholder='-180 ~ 180', class_name='ndb-conv-coordinate', data={'coordinate': 'lon-degree'}) }}
        {{ widget('lon-minute', '分', '', '1-6@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
        {{ widget('lon-second', '秒', '', '1-6@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
        {{ widget('longitude_decimal', '十進位', '', '1-6@s', class_name='ndb-conv-coordinate') }}
        {{ widget('verbatim_longitude', '經度', '', '1-6@s', placeholder='E 120° 58\' 55.29"', is_verbatim=True, class_name='ndb-conv-coordinate') }}
        {{ widget('lat-dir', '南北緯', '', '1-6@s', 'select', options=[{'value':1, 'text': 'N 北緯'}, {'value':-1, 'text': 'S 南緯'}]) }}
        {{ widget('lat-degree', '度', '', '1-6@s', placeholder='-90 ~ 90', class_name='ndb-conv-coordinate') }}
        {{ widget('lat-minute', '分', '', '1-6@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
        {{ widget('lat-second', '秒', '', '1-6@s', placeholder='0~59', class_name='ndb-conv-coordinate') }}
        {{ widget('latitude_decimal', '十進位', '', '1-6@s', class_name='ndb-conv-coordinate') }}
        {{ widget('verbatim_latitude', '緯度', '', '1-6@s', placeholder='N 23° 58\' 25.95"', is_verbatim=True) }}
      </div>
    </div>
    <div class="uk-width-1-2">
      <h4 class="uk-heading-bullet">{{ _('棲地/環境') }}</h4>
      <div class="uk-grid-small" uk-grid id="record-assertions">
      </div>
    </div>
    <div class="uk-width-1-2">
      <h4 class="uk-heading-bullet">{{ _('標本') }}</h4>
      <div id="unit-container"></div>
      <div class="uk-grid-small" uk-grid id="record-units">
      </div>
    </div>
  </div><!-- END: occurrence -->

  <div class="uk-grid-small ndb-tab-view uk-hidden" data-tab="identifications" uk-grid>
    <h3 class="uk-heading-bullet">鑑定 <button class="uk-button uk-button-small" type="button" id="identification-add-button">+</button></h3>
    <div id="identification-container"></div>
  </div>{# end of identifications #}
</form>

<div class="uk-width-1-1 uk-margin">
  <hr>
  <button class="uk-button uk-button-primary" id="submit-button">{{ _('送出') }}</button>
</div>

{% include "admin/inc_template.tpl.html" %}

<div id="modal-media-image" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <img src="" width="1800" height="1200" alt="" id="modal-image-url">
    </div>
</div>
<div id="modal-unit-detail" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Headline</h2>
    </div>
    <div class="uk-modal-body" uk-overflow-auto>
      <div class="uk-grid-small" uk-grid>
        {{ widget('accession_number', '館號', '', '1-4@s', 'input') }}
        {{ widget('duplication_number', '複份號', '', '1-4@s', 'input') }}
        {{ widget('kind_of_unit', '部件類別', '', '1-4@s', 'input') }}
        {{ widget('disposition', 'Disposition', '', '1-4@s', 'input') }}
        {{ widget('pub_status', '是否公開', '', '1-4@s', 'select', options=[{'text':'是', 'value':'P'}, {'text':'否', 'value':'N'}]) }}
        <div class="uk-width-1-1 uk-grid-small">
          <h4 class="uk-heading-bullet">{{ _('Preparation') }}</h4>
        </div>
        {{ widget('preparation_type', 'Preparation Type', '', '1-4@s', 'input') }}
        {{ widget('preparation_date', 'Preparation Date', '', '1-4@s', 'input-date') }}
        <div class="uk-width-1-1 uk-grid-small">
          <h4 class="uk-heading-bullet">{{ _('取得') }}</h4>
        </div>
        {{ widget('acquisition_type', '取得方式', '', '1-4@s')}}
        {{ widget('acquired_from', '來源(人名)', '', '1-4@s')}}
        <div class="uk-width-1-1 uk-grid-small">
          <h4 class="uk-heading-bullet">標註</h4>
        </div>
        {{ widget('type_reference', 'Reference', '', '1-4@s')}}
        {{ widget('type_reference_link', 'Ref. link', '', '1-4@s')}}
        {{ widget('type_note', 'Type Note', '', '1-4@s')}}
        <div class="uk-width-1-1 uk-grid-small">
          <h4 class="uk-heading-bullet">標註</h4>
        </div>
        <div id="unit-assertions"></div>
        
        </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button">Save</button>
    </div>
    </div>
  </div>
</div>
{% endblock %}


{% macro widget(name, label, value='', width='1-4@s', type='input', options=[], placeholder='', is_verbatim=False, class_name='', data={}) -%}
<div class="uk-width-{{ width }}{# ndb-grid-tiny#}">
  <div class="uk-margin">
    <label class="uk-form-label" for="{{ name }}-id">{% if is_verbatim %}<span uk-icon="icon: file-text;"></span>[逐字]{% endif %}{{ label }}</label>
    <div class="uk-form-controls">
      {% if type == "input" %}
      <input class="uk-input{% if is_verbatim %} ndb-form-verbatim{% endif %}{% if class_name %} {{ class_name }}{% endif %}" id="{{ name }}-id" type="text" placeholder="{{ placeholder }}" name="{{ name }}" value="{{ value }}" {% for k, v in data.items() if v is not none %} data-{{ k }}="{{ v }}"{% endfor %}>
      {% elif type == "input-date" %}
      <input class="uk-input" id="{{ name }}-id" type="date" name="{{ name }}">
      {% elif type == "textarea" %}
      <textarea name="{{ name }}" class="uk-textarea{% if is_verbatim %} ndb-form-verbatim{% endif %}{% if class_name %} {{ class_name }}{% endif %}" id="{{ name }}-id">{{ value }}</textarea>
      {% elif type == "select" %}
      <select name="{{ name }}" class="uk-select" id="{{ name }}-id">
        {% for option in options %}
        <option value="{{ option.value }}">{{ option.text }}</option>
        {% endfor %}
      </select>
      {% elif type == "select2" %}
      <div class="bt-select-field">
        <select class="uk-select" id="{{ name }}-id" data-placeholder="{{ _('-- 選擇 --') }}" data-allow-clear="true" style="width: 100%">
        </select>
      </div>
      {% elif type == "combobox" %}
      <div class="combobox-container">
        <div class="uk-inline uk-width">
          <a class="uk-form-icon uk-form-icon-flip combobox-icon" uk-icon="icon: chevron-down" id="{{ name }}-id-icon" data-name="{{ name }}"></a>
          <input class="uk-input combobox-display" type="text" placeholder="-- 選擇 --" readonly id="{{ name }}-id-display" data-name="{{ name }}" data-value="" />
        </div>
        <div class="uk-inline combobox-input-container" id="{{ name }}-box-container">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input uk-form-small combobox-input" id="{{ name }}-input" data-name="{{ name }}" data-attr="{{ data }}" autocomplete="off"/>
        </div>
        <ul class="combobox-items-list" id="{{ name }}-list-container">
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}
