{% extends "admin/base.html" %}

{% block script %}
<script src="{{ url_for('admin.static', filename='user-list.js') }}"></script>
{% endblock %}

{% block main %}
<div class="">
  <h2>清單</h2>
  <a href="{{ url_for('admin.user_list_category-create') }}" class="uk-button uk-button-primary">新增清單</a>

  {% for cat_id in user_list_categories %}
  <h3>{{ user_list_categories[cat_id].name }}</h3>
  <ul class="uk-subnav uk-subnav-divider" uk-margin>
    {#<li><a href="{{ url_for('admin.user_list_category-form', item_id=cat_id) }}">編輯清單名稱</a></li>#}
    <li>
      <a href><span data-uk-icon="icon: print"></span> 列印<span uk-icon="icon: triangle-down"></span></a>
      <div uk-dropdown="mode: click">
        <ul class="uk-nav uk-dropdown-nav">
          <li class="uk-nav-header">排序</li>
          <li><a href="{{ url_for('admin.print_label') }}?category_id={{ cat_id }}&sort=field-number" target="_blank">採集號</a></li>
          <li><a href="{{ url_for('admin.print_label') }}?category_id={{ cat_id }}&sort=created" target="_blank">加入順序</a></li>
        </ul>
      </div>
    </li>
  </ul>
  {# [ <a href="{{ url_for('admin.user_list_category-form', item_id=cat_id) }}">編輯清單名稱</a> | 
  <a href="{{ url_for('admin.print_label') }}?category_id={{ cat_id }}" target="_blank"><span data-uk-icon="icon: print"></span> 列印</a> ]#}
  <table class="uk-table uk-table-striped uk-table-condensed uk-table-hover uk-table-divider uk-text-nowrap">
    <thead>
      <tr>
        <th>編輯</th>
        <th>移出清單</th>
        <th class="uk-table-shrink">#</th>
        <th>館號</th>
        <th>物種</th>
        <th>採集者</th>
        <th>採集號</th>
        <th>採集日期</th>
        <th>採集地點</th>
      </tr>
    </thead>
    <tbody>
      {% for i in user_list_categories[cat_id]['items'] %}
      {% set r = i.entity[0] %}
      {% set u = i.entity[1] %}
      <tr>
        <td><a href="{{ url_for('admin.record_form', entity_key='r'+r.id|string ) }}" uk-icon="icon: pencil"></a></td>
        <td><a href="#" data-user_list_id="{{ i.id }}" uk-icon="icon: trash" class="entity"></a></td>
        <td>{{ loop.index }}{# loop.index + (pagination.current_page - 1) * 20 #}</td>
        <td>{% if u %}{{ u.catalog_number }}{% endif %}</td>
        <td>{{ r.proxy_taxon_scientific_name }}{%if r.proxy_taxon_common_name %} ({{ r.proxy_taxon_common_name }}){% endif %}</td>
        <td>{% if r.collector %}{{ r.collector.display_name }}{% endif %}</td>
        <td>{{ r.field_number }}</td>
        <td>{% if r.collect_date %}{{ r.collect_date.strftime('%Y-%m-%d')}}{% endif %}</td>
        <td>{{ r.locality }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}
