<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="/static/js/bootstrap.bundle.js"></script> -->

    {#<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sites/taibol/css/style.css') }}">

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'/></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
    <title>台灣野生生物遺傳物質冷凍計畫</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-center navbar-default">
    
    <a class="navbar-brand" href="/">台灣野生生物遺傳物質冷凍計畫</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarsExampleDefault">

    <ul class="nav navbar-nav nav-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">計畫簡介</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('frontpage.taxa_index') }}?collection=material_sample">遺傳物質典藏現況</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('frontpage.taxa_index') }}?collection=barcode">生命條碼典藏現況</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          遺傳物質總覽</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('frontpage.data_search') }}?kingdom=Animalia&collection=material_sample">動物</a>
          <a class="dropdown-item" href="{{ url_for('frontpage.data_search') }}?kingdom=Fungi&collection=material_sample">真菌</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          生命條碼總覽</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('frontpage.data_search') }}?kingdom=Animalia&collection=barcode">動物</a>
          <a class="dropdown-item" href="{{ url_for('frontpage.data_search') }}?kingdom=Fungi&collection=barcode">真菌</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('frontpage.page', name='sample-preparation') }}">採樣流程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('frontpage.page', name='reference') }}">相關資料</a>
      </li>
    </ul>
  </div>
    </nav>

    <main role="main" class="container">
      {% block main %}
      {% endblock %}
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container" align='center'>
        <p class="logo">
          <img src="{{ url_for('static', filename='sites/taibol/images/BRCAS-LOGO.png') }}" height="50">中央研究院生物多樣性研究中心
          &nbsp;<img src="{{ url_for('static', filename='sites/taibol/images/forest.png') }}" height="50">農業部林業及自然保育署
          &nbsp;<img src="{{ url_for('static', filename='sites/taibol/images/aslogo.gif') }}" height="50"> 中央研究院
        </p>
        <span class="text-muted">© 2024 - 中央研究院生物多樣性研究中心 / 生物多樣性研究博物館</span>
      </div>
    </footer>
    {% block script %}
    {% endblock %}
  </body>
</html>
