{% extends "sites/taibol/base.html" %}

{% block head %}

<link href="{{ url_for('static', filename='sites/taibol/css/specimen.css') }}" rel="stylesheet">

<style>
    .guide a {
        padding-top: 80px;
    }
</style>
<button type="button" id="gootop" class="gotop"></button>
<script type="text/javascript">
$(function() {
    /* 按下GoTop按鈕時的事件 */
    $('#gootop').click(function(){
        $('html,body').animate({ scrollTop: 0 }, 333)   /* 返回到最頂上 */
        return false;
    });
    
    /* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
    $(window).scroll(function() {
        if ( scroll >= 400 ){
            $('#gootop').fadeIn();
        } else {
            $('#gootop').fadeOut();
        }
    });
});
</script>   

<!--
<script type="text/javascript">
$(function(){
    $(".gotop").click(function(){
        jQuery("html,body").animate({
            scrollTop:0
        },1000);
    });
    $(window).scroll(function() {
        if ( $(this).scrollTop() > 300){
            $('.gotop').fadeIn("fast");
        } else {
            $('.gotop').stop().fadeOut("fast");
        }
    });
});
</script> 
-->
{% endblock %}

{% block main %}
<!--
    <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    li><a href="/Home/About">2017 公告</a></!--li-->

                <!--    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register" id="registerLink">註冊</a></li>
        <li><a href="/Account/Login" id="loginLink">登入</a></li>
    </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
-->        

<div class="jumbotron">
    <h2>台灣野生動物冷凍遺傳物質採樣流程</h2>
    <hr class="my-4">
    <p class="lead">中央研究院生物多樣性研究中心  2006年12月1日</p>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-4">
            <ul>
                <li>
                    <a href="/pages/sample-preparation#guideline1" alt="遺傳物質的重要性">
                        遺傳物質的重要性                        
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline2" alt="使用液態氮保存遺傳物質">
                        使用液態氮保存遺傳物質
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline3" alt="液態氮的優點">
                        液態氮的優點
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline4" alt="使用酒精保存遺傳物質">
                        使用酒精保存遺傳物質
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline5" alt="遺傳物質新鮮程度的等級區分">
                        遺傳物質新鮮程度的等級區分
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <a href="/pages/sample-preparation#guideline6" alt="魚類遺傳物質採集方法">
                        魚類遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline7" alt="鳥類遺傳物質採集方法">
                        鳥類遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline8" alt="昆蟲遺傳物質採集方法">
                        昆蟲遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline9" alt="棘皮動物遺傳物質採集方法">
                        棘皮動物遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline10" alt="甲殼動物遺傳物質採集方法">
                        甲殼動物遺傳物質採集方法
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="/pages/sample-preparation#guideline11" alt="刺絲胞動物遺傳物質採集方法">
                        刺絲胞動物遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline12" alt="軟體動物遺傳物質採集方法">
                        軟體動物遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline13" alt="兩棲爬行動物遺傳物質採集方法">
                        兩棲爬行動物遺傳物質採集方法
                    </a>
                </li>
                <li>
                    <a href="/pages/sample-preparation#guideline14" alt="遺傳物質採集應記錄之資料與格式">
                        遺傳物質採集應記錄之資料與格式
                    </a>
                </li>
            </ul>
        </div>
      <div class="row">

        <div class="guide">
            <div> 
                <h4><a id="guideline1">遺傳物質的重要性</a></h4>
                <p>
                    由於意識到地球上的生物多樣性（biodiversity）在近幾世紀中的急速流失，於1992年在巴西舉行的地球高峰會議中，
                    各國領袖簽署了【生物多樣性公約】。目前，已經有超過189個締約國（Parties）簽署，成為全球最大的國際公約，其目標包含：
                    (1)保育生物多樣性，(2)永續利用其組成，與(3)公平合理分享由生物多樣性遺傳資源所產生的效益。
                    近年在國際學術界以掀起一股超學門的生物多樣性研究風潮，除了生物多樣性本身的監控、記錄與研究之外，
                    亦著重於探討維持及利用生物多樣性以造福人類的方法。近十年來，在國際科學期刊之中關於生物多樣性的研究論文，
                    數量幾乎呈幾何級數快速成長。  生物多樣性公約（CBD）中明文規定，該地區生物之遺傳資源乃屬於該地區之財產，
                    賦予資源國對於境內生物遺傳資源的所有權。因此建立適當的儲存庫保存國內生物資源便顯得非常重要，在植物方面，
                    目前已經有許多種子庫（Seed Bank）成功在運作，然而在動物方面卻才處於剛起步的階段。
                    生物多樣性可分為遺傳多樣性、物種多樣性與生態系多樣性等三個層次。
                    生態系統的穩定必須仰賴完整的物種多樣性組成予以維持。但維繫物種存活的要件，則必須倚賴豐富的遺傳多樣性。
                    然而由於人類活動與環境變遷等因素，已使地球物種不斷絕滅，全球先進國家紛紛啟動前瞻性做法，主動保存國內之生物遺傳物質。
                    高品質的冷凍組織樣本除提供生物多樣性的永久保存外，更監控生物多樣性之改變，進行各種生物學之研究，
                    如分類、生態、演化及族群遺傳學等，同時亦可應用於未來全球高度競爭的生化與生物技術領域，甚至復育已滅絕物種之可能。
                    此外，保存物種與遺傳多樣性，對於人類的生活具有實質上的經濟效能。目前人類所利用的經濟性動植物僅佔全球物種的極小部份，
                    而其餘大部分的物種均分布在熱帶雨林地區。其中大部分的物種至今尚未為生物學家描述或了解，
                    而亦可能有龐大的數量在發現之前便已絕種。這個龐大的物種庫所能提供的遺傳訊息或化學物質種類均具有極高的發展潛力，
                    提供了包括醫藥、食用、工業等等不同用途的前景。因此，建立一個系統化的冷凍遺傳物質庫，
                    已是每個國家在生物多樣性的調查與保育工作的必然趨勢。
                </p>
            </div>

            <div>
                <h4><a id="guideline2">使用液態氮保存遺傳物質</a></h4>
                <p>
                    活組織在離開生物體之後若能立即進入冷凍環境下，則可完整儲存所有包括DNA、RNA、蛋白質等等不同的生化訊息。
                    由於液態氮桶本身並不涉及供電系統，所以較冰箱更可以應付停電、機器損壞等突發狀況，儲存於液態氮桶中的遺傳物質，
                    在液態氮的供給不虞匱乏的前提之下，可以在幾乎無限期的時間尺度內存放。但是由於RNA與蛋白質在常溫下的分解或變性速度相當快，
                    因此這類組織的蒐藏，極度要求採集過程中樣本處理的時效性和正確性。新鮮組織必須在最短時間之內送達冷凍環境之中，
                    不然其中部份的遺傳物質將會分解，野外採集必須攜帶小型的液態氮桶或乾冰。野外採集的動物，可以針頭或毛細管抽取血液樣本，
                    或採其肌肉組織，迅速放進可攜式液態氮桶中，再攜回移至實驗室中的大型液態氮桶。
                    若因採樣地點過於偏遠，須搭乘飛機、船等工具，卻因安全管制等因素，無法攜帶液態氮桶，亦可以保麗龍加上乾冰（約-78℃）代替。
                </p>
            </div>

            <div>
                <h4><a id="guideline3">液態氮的優點</a></h4>
                <ol>
                    <li>
                        儲存溫度約介於-160℃到-196℃，可將氧化與酵素之分解作用降到最低。
                    </li>
                    <li>
                        使用電動之-80℃冰箱，有停電解凍或損壞的潛在威脅。
                    </li>
                    <li>
                        液態氮儲存可不使用酒精或其他緩衝溶液的情況下保存樣本，使將來之應用更為廣泛，而不會受到保存液之影響和破壞。
                    </li>
                    <li>
                        可妥善保存DNA、RNA、酵素、蛋白質等生物物質。
                    </li>
                    <li>
                        可大幅提升組織保存的品質，並延長遺傳物質的保存壽命
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline4">使用酒精保存遺傳物質</a></h4>
                <p>
                    酒精可以保存DNA，但是無法保存RNA，會破壞蛋白質，而且儲存於酒精的標本會產生脫水與脫色的情況。
                    以酒精儲存標本在執行上頗為方便簡易，是目前因應冰箱空間不夠、或從野外攜帶標本時的權宜措施，
                    且由於可攜式液態氮桶中的液態氮會耗盡，酒精仍不失為一個在野外較長期保存DNA的方法。若僅以DNA的利用為主，
                    將組織保存在酒精裡便已足夠，但保存期限較短。此外，對於血液樣本的備份，分裝懸浮於酒精中的血球細胞有實際上操作的方便性，
                    可以針頭或毛細管抽取血液樣本，而死亡個體則採其肌肉組織，直接放入95-99%酒精中保存，攜回實驗室後轉存於液態氮中。
                    肌肉組織置於酒精後，因脫水而導致酒精濃度降低，請於24小時內再換一次酒精，並儘可能保存酒精與標本於低溫環境。
                </p>
            </div>

            <div>
                <h4><a id="guideline5">遺傳物質新鮮程度的等級區分</a></h4>
                <ul>
                    <li>A 級- 活體到死亡不到半小時</li>
                    <li>B 級- 死亡後12小時內並維持在低溫狀態（-20℃以下）</li>
                    <li>C 級- 死亡後超過12小時並且保存在低溫狀態，或死亡後立即冷凍保存</li>
                    <li>D 級- 死亡一段時間，開始有腐敗和分解現象</li>
                    <li>E 級- 使用酒精和緩衝溶液保存之樣本</li>
                    <li>F 級- 福馬林固定過之樣本或極度敗壞之樣本</li>
                </ul>
            </div>

            <div>
                <h4><a id="guideline6">魚類遺傳物質採集方法</a></h4>
                李柏鋒、邵廣昭
                <ol>
                    <li>
                        採樣大小：<br />
                        儘可能採取足夠量之組織，但以不破壞實體標本為主。一般魚體小於10cm者，採取約長寬高各約3mm左右等量之組織；體長介於10-20cm者，採取長寬高各約5mm左右等量之組織；體長大於20cm者，可採取長寬高各約1cm左右等量之組織。
                    </li>
                    <li>
                        採樣份數：<br />
                        若組織體積足夠，分為三份，一份以酒精保存，兩份以液態氮保存，其中一份置於中研院主庫，一份置於動物園備份庫，同個體者標號相同。
                    </li>
                    <li>
                        採樣部位：<br />
                        一般以特徵較少的尾柄肌肉為主，採取組織時請避開該類群重要之鑑定形態特徵，保留實體標本進行形態分類所需要之資訊。若尾柄有重要特徵，請以背部肌肉為主，採取組織時應避開測線，並請盡量以「ㄇ」字形切開表皮後採取組織，儘可能保留表皮及鱗片等構造。採樣時盡量避免採取表皮，以免體外微生物或黏液等污染。此外也應避免消化道，以避免食物或消化道微生物之污染。若採取體內器官之組織，可採取較少作為鑑定特徵之肝臟，粒線體數量亦較多，但請特別小心不可破壞膽囊，因膽汁會破壞採取之組織。若魚體極度微小或脆弱，可剪下較不完整之一側或右側的偶鰭（胸鰭、腹鰭），或翻開鰓蓋剪下小塊鰓絲，但儘可能保留重要特徵。採樣使用之器具剪刀等，請在處理一個個體後完成清理及消毒程序，才能處理下一個個體，以避免污染，可以酒精燈火烤進行之。
                    </li>
                    <li>
                        拍照：<br />
                        若無良好環境或設備，請以簡單之背景（白色為佳）拍攝新鮮魚體之採樣記錄照片，並以防水紙在魚體附近標明該個體標號，同時將魚體與標籤以拍照記錄，回實驗室後再固定、展鰭，拍攝正式之標本照。若環境許可，請於採樣後立即展鰭、拍攝標本照。
                    </li>
                    <li>
                        記錄：<br />
                        請儘可能記錄標本之各項採樣記錄。若魚體小，應於採樣前測量體長與體重，以免採樣過程影響數據。所需欄位請參考後面資料。　　
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline7">鳥類遺傳物質採集方法</a></h4>
                李壽先
                <ul>
                    <li>
                        材料 -採血針 -毛細管 -70%酒精棉 -100%酒精 -2.0ml低溫冷凍組織管 (最好管蓋內具墊圈o-ring) -解剖刀片 -記錄
                    </li>
                    <li>
                        採集血樣
                        <ol>
                            <li>
                                以食指及中指圈著鳥的頸項 (但不要太緊以免鳥窒息)，食指及中指末端打開並夾住翅膀。以大拇指及無名指和小拇指夾住鳥腳，手掌輕輕托住鳥身。
                            </li>
                            <li>
                                以70%酒精浸潤的棉花擦拭翅膀上臂骨及尺骨橈骨交接處，將羽毛沾濕並推開，直至露出橫跨的血管。
                            </li>
                            <li>
                                採血針傾斜，以切面較大處插入血管。
                            </li>
                            <li>
                                待血液流出，以毛細管吸取。可將毛細管放較低的位置，以利血液流入，並可同時輕輕按摩鳥上臂處或心臟處 (但一定要輕輕地)，促進血液流動。
                            </li>
                            <li>
                                將注了血液的毛細管放入一裝了1ml 99.5%~100%酒精的組織管中，用口將毛細管中的血吹近酒精中，再將毛細管折斷，留下沾有血液的毛細管於組織管中，或將之丟棄。
                            </li>
                            <li>
                                以酒精棉放置於鳥翅採血處，閉上翅膀以防鳥亂動，讓牠休息一下，直到確定停止流血再放走。一般鳥在受驚後一段時間，腎上腺素才會上升導致壓力反應(stressful response)，如果鳥的狀況不好 (例如久久無法移動)，可將其放回鳥袋中、置於陰暗溫暖的環境中休息。有時候我們會把鳥留下來過夜，隔天一早再放走。 ※ 酒精綿、採血針、毛細管皆為一次性使用，不可回收，免得DNA污染。
                            </li>
                        </ol>
                    </li>
                    <li>
                        採集組織樣本
                        <ol>
                            <li>
                                以刀片輕輕切開胸下的腹膜，再用刀片尖端拉出大片殷紅的肝取其大部，若個體已死亡超過8小時，則建議採其胸肌樣本。
                            </li>
                            <li>
                                用刀片將約1g組織剁碎，再放入裝了99.5%~100%酒精的組織管中，一般而言酒精與欲儲存的組織體積比約10:1。若有液態氮桶，則不需要存放於酒精中，直接將組織管投入液態氮桶中即可。
                            </li>
                            <li>
                                若鳥正在換羽中，可拔下成長中的血羽羽鞘，放入裝了99.5%~100%酒精的組織管中。若有液態氮桶，則不需要存放於酒精中，直接將組織管投入液態氮桶中即可。若採集已成長之羽毛，則務必保存羽毛根部。<br />
                                ※剁碎組織的表面可利用包裝刀片的錫箔紙為粘板，並且不要重複使用。刀片也盡量作一次性使用，以免DNA污染。若要重複使用刀片，可用10%的市售供洗衣漂白用的次氯酸鈉溶液清洗，使附著於刀片上的DNA變性，再以清水清洗殘留的次氯酸鈉溶液，以作下次使用。
                            </li>
                        </ol>
                    </li>
                    <li>
                        記錄項目<br />
                        日期、地點(盡可能包含經緯度及海拔資料)、野外臨時編號、種類、性別、年齡、採集者、鑑定者、樣本類型、相對應之影像檔案或皮毛標本編號
                    </li>
                    <li>
                        儲存<br />
                        血液、組織樣本都應該儲存於-20℃或-80℃的冰箱中，並且避免陽光照射，因為紫外線會使DNA變性。
                    </li>
                </ul>
            </div>

            <div>
                <h4><a id="guideline8">昆蟲遺傳物質採集方法</a></h4>
                林政行、詹美鈴
                <ol>
                    <li>
                        鑑定：<br />
                        活體昆蟲自野外採集回來後，先進行鑑定，標明學名。
                    </li>
                    <li>
                        拍照：<br />
                        將鑑定後之活體昆蟲，置入壓克力盒中，待其穩定不動後，在旁置放比例尺，儘可能放大拍照，使特徵清楚。
                    </li>
                    <li>
                        採樣:
                        <ol>
                            <li>體型小於2cm:整隻蟲放入冷凍小管中。</li>
                            <li>體型3-5cm:先將昆蟲活體置於-20℃冷凍庫中冷凍約5分鐘，若昆蟲仍然活動，則再置入冷凍庫中，待其凍昏後，拔取二至三足，置入一冷凍小管中，每個個體製成1-2罐足組織之冷凍小管，而軀體置於另一冷凍小管中，每件冷凍小管均寫上該種之鑑定學名。若為特徵較不明顯之種類或僅能鑑定至種或屬之種類，則僅取三足，再將其餘部份置回-20℃冷凍庫中，等待製成針插標本，做為物證標本。同一個體若製成不同冷凍小管時，給予不同編號，但於備註中註明來自同一個體之編號，剩餘部份製成針插標本之個體除給予與取出組織製成之冷凍小管同樣編號之標籤，附在蟲針上外，另給予館內之標本編號。每次處理完一個個體後，將鑷子以衛生紙擦拭後，再以酒精燈火烤，完成清理及消毒程序。</li>
                            <li>體型5cm以上:同上冷凍程序，若待其凍昏後，拔取1-2足，再將其餘部份置回冷凍庫中，等待製成針插標本，做為物證標本，程序同上。</li>
                        </ol>
                    </li>
                    <li>
                        記錄:<br />
                        儘可能記錄標本之各項採樣記錄。
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline9">棘皮動物遺傳物質採集方法</a></h4>
                趙世民
                <ol>
                    <li>
                        鑑定：<br />
                        動物自野外採集回來後，先進行鑑定，標明學名。
                    </li>
                    <li>
                        拍照：<br />
                        將鑑定後之活體標本置於-20℃冷凍庫，將其凍昏（約20分鐘），然後進行拍照。
                    </li>
                    <li>
                        採樣部位選擇：<br />
                        棘皮動物的採樣部位最好是成熟的生殖腺，直接冷凍保存，或依照標準的DNA處理程序處理，獲得DNA樣本後，將其保存於液態氮之中。處理一個個體後，請完成清理及消毒程序，才能處理下一個個體，以避免污染，可以酒精燈火烤進行之。如果無法取得生殖腺，海參以體壁之縱肌為第二選擇。海星、海洋齒、及蛇尾類以腕部肌肉為第二選擇。海膽以圍口部肌肉為第二選擇。
                    </li>
                    <li>
                        採樣份數及物證標本之處理：<br />
                        每一個體取二至三份組織標本置於不同冷凍小管內，並給予不同編號，但於備註內標明相同之浸液標本編號。剩下之個體則製作成浸液標本，並於浸液標本標籤上加註該個體之冷凍組織標本編號。
                    </li>
                    <li>
                        後續處理：<br />
                        待浸液標本登錄後，再於冷凍組織標本資料中備註浸液標本之登錄號，以便往後兩種標本間之查詢、確認，
                        並將浸液標本永久存放於國立自然科學博物館蒐藏庫中，做為物證標本。
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline10">甲殼動物遺傳物質採集方法</a></h4>
                洪和田、趙世民
                <ol>
                    <li>
                        鑑定：<br />
                        甲殼動物（蝦蟹類）自野外採集回來後，先進行鑑定，標明學名。
                    </li>
                    <li>
                        拍照：<br />
                        將鑑定後之活體標本置於-20℃冷凍庫，將其凍昏（約20分鐘），然後進行拍照。
                    </li>
                    <li>
                        採樣部位選擇：<br />
                        為不完全破壞鑑定上的形態特徵，以採取同一邊之步足為主要採樣部位，沼蝦類則避開第二步足。將整隻步足放入冷凍小管，如體型過大之物種，則取步足之長節肌肉組織全部或一半），再置入液態氮中保存。
                    </li>
                    <li>
                        採樣份數及物證標本之處理：<br />
                        每一個體取二至三份組織標本置於不同冷凍小管內，並給予不同編號，但於備註內標明相同之浸液標本編號。剩下之個體則製作成浸液標本，並於浸液標本標籤上加註該個體之冷凍組織標本編號。
                    </li>
                    <li>
                        後續處理：<br />
                        待浸液標本登錄後，再於冷凍組織標本資料中備註浸液標本之登錄號，以便往後兩種標本間之查詢、確認，並將浸液標本永久存放於國立自然科學博物館蒐藏庫中，做為物證標本。
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline11">刺絲胞動物遺傳物質採集方法</a></h4>
                李坤瑄、趙世民
                <p>
                    野外採集的刺絲胞動物，可以採其肌肉組織或整個個體，迅速放進可攜式液態氮桶中，再攜回移至實驗室中的大型液態氮桶。
                    若因採樣地點過於偏遠，須搭乘飛機、船等工具而無法攜帶液態氮桶，亦可以保麗龍加上乾冰（約-78℃）代替。
                    採樣大小與採樣部位：刺絲胞動物的共生生物眾多，如共生藻類、共生細菌及寄生性的甲殼類等，皆會影響分析結果，
                    因此應趁新鮮時採取其體壁較厚的体柱肌肉組織或最好是成熟的生殖腺組織，直接冷凍保存，或依照標準的DNA處理程序處理，
                    獲得DNA樣本後，將其保存於液態氮之中。請在處理一個個體後完成清理及消毒程序，才能處理下一個個體，以避免污染，
                    可以酒精燈火烤進行之。 採樣份數：若組織體積足夠，分為三份，一份以酒精保存，兩份以液態氮保存，同個體者標號相同。
                </p>
                <p>
                    拍照：若無良好環境或設備，請以簡單之背景（白色為佳）拍攝新鮮標本之採樣記錄照片，並以防水紙在標本附近標明該個體標號，
                    同時將標本與標籤以拍照記錄，回實驗室後再麻醉、固定，拍攝正式之標本照。若環境許可，請於採樣後立即麻醉，
                    調整標本形態、拍攝標本照。
                </p>
                <p>
                    記錄：請儘可能記錄標本之各項採樣記錄。若標本過小，應於採樣前測量體長與體重，以免採樣過程影響數據。
                    所需欄位請參考後面資料。
                </p>
            </div>

            <div>
                <h4><a id="guideline12">軟體動物遺傳物質採集方法</a></h4>李坤瑄、趙世民
                <ol>
                    <li>
                        採樣大小：<br />
                        儘可能採取足夠量之組織，但以不破壞實體標本為主。一般軟體動物小於10cm者，採取約長寬高各約3mm左右等量之組織；體長介於10-20cm者，採取長寬高各約5mm左右等量之組織；體長大於20cm者，可採取長寬高各約1cm左右等量之組織。
                    </li>
                    <li>
                        採樣份數：<br />
                        若組織體積足夠，分為三份，一份以酒精保存，兩份以液態氮保存，同個體者標號相同。
                    </li>
                    <li>
                        採樣部位：<br />
                        石鱉及腹足類一般以特徵較少的腹足肌肉為主，雙殼類以肌肉較多的閉殼肌為主，頭足類則以肌肉發達的外套膜腔壁或不具分類特徵的腕足為主。採取組織時請避開該類群重要之鑑定形態特徵，保留實體標本進行形態分類所需要之資訊。採樣時盡量避免採取表皮，以免體外微生物或黏液等污染。此外也應避免消化道，以避免食物或消化道微生物之污染。請在處理一個個體後完成清理及消毒程序，才能處理下一個個體，以避免污染，可以酒精燈火烤進行之。
                    </li>
                    <li>
                        拍照：<br />
                        若無良好環境或設備，請以簡單之背景（白色為佳）拍攝新鮮標本之採樣記錄照片，並以防水紙在標本附近標明該個體標號，同時將標本與標籤以拍照記錄，回實驗室後再麻醉、固定，拍攝正式之標本照。若環境許可，請於採樣後立即麻醉，調整標本形態、拍攝標本照。
                    </li>
                    <li>
                        記錄：<br />
                        請儘可能記錄標本之各項採樣記錄。若標本過小，應於採樣前測量體長與體重，以免採樣過程影響數據。所需欄位請參考後面資料。
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline13">兩棲爬行動物遺傳物質採集方法</a></h4>林思民
                <ol>
                    <li>
                        採集與運送：
                        <ol>
                            <li>兩棲爬行動物在野外採集後，可以活體方式攜回實驗室進行後續處理。在蛙類部份，由於部分蛙種性別出現的比例懸殊，因此若非研究或實驗必要，建議以採集雄性個體為主。在蛇類部份，為顧及族群量與自然生態保育，除非實驗上的需求，盡量避免將整隻活體動物攜回實驗室。</li>
                            <li>小型寶特瓶、塑膠瓶等是運送中小型兩棲爬行動物活體標本的優良選擇。容器的體積以能夠盛裝整隻動物即可，不需要給予太大的活動空間。過多的活動空間反而容易造成動物的緊迫，並在運送過程中受傷。運送蜥蜴時，務必提供可供蜥蜴抓取的粗糙物。在容器內裝入柔軟的樹葉、草、甚至衛生紙，可以有效地降低動物的緊迫。兩棲動物的肺部氣體交換效率較差，盛裝容器務必打洞。</li>
                            <li>由於小型動物對溫度的耐受範圍較小，因此應將盛裝動物的容器保持在陰涼處。在春、夏、秋三季，白天切勿將動物留置在車內或後車廂，並絕對避免放置在日照可及之處，以避免盛裝動物的容器溫度升高。過熱致死的標本會在極短的時間之內腐敗，無論是DNA或蛋白質都無法再保有其利用價值。</li>
                        </ol>
                    </li>
                    <li>
                        資料彙整與拍照：
                        <ol>
                            <li>以入庫為目標的活體標本並不建議進行長期的飼養。兩棲爬行動物極易在飼養的過程中發生拒食、脫水、死亡、逃逸、相殘、混淆等等狀況，而減低標本的蒐藏價值。</li>
                            <li>預製一批擁有流水編號的標牌。每一隻動物在進入拍照、安樂死、組織採樣的流程之前，均先給予一流水編號，並詳細記錄該動物的所有採集資訊。</li>
                            <li>仿生態環境照片並不是數位典藏照片的需求所在，因此拍照場景在室內搭建即可。盡量以素色為背景，以期保留大部分動物的外觀特徵。若非有把握，避免將動物攜至室外拍照，以避免動物在拍攝過程中逃脫。</li>
                        </ol>
                    </li>
                    <li>
                        安樂死
                        <ol>
                            <li>兩棲動物：將每 1g 的 Benzocaine 溶於 100 ml 95% 酒精，再以水稀釋 10 倍使用。將兩棲動物浸入此溶液之中，並加蓋，以防止其跳出。經由皮膚吸收，蛙類在五至十分鐘後會逐漸進入深度的昏迷狀態；而浸漬十分鐘到半小時左右，則逐進進入死亡。昏迷與死亡的時間，視動物的大小與物種而定。</li>
                            <li>爬行動物：肌肉或腹腔注射Barbiturate，待其死亡。若無法取得此藥品，中小型的爬行動物可以置入冰箱，作為替代方案。所有後續的採取組織的流程，均得確認動物完全死亡之後方可進行。</li>
                        </ol>
                    </li>
                    <li>
                        組織採樣
                        <ol>
                            <li>兩棲動物與蜥蜴類部份，若採取組織的目標只是為了抽取DNA，建議採取動物的舌頭，以避免破壞標本的外觀。進行安樂死，並確認動物完全死亡之後，將嘴部以鑷子輕輕打開，利用鑷子拉出舌頭，並用小解剖剪剪除。</li>
                            <li>蛇類可沿泄殖腔向前剪出一道 2 – 3 cm 的開口，從開口處剪取肌肉組織。</li>
                            <li>剪下的組織置入冷凍小管，直接浸入液態氮中。</li>
                        </ol>
                    </li>
                    <li>
                        路殺動物的標本採集：<br />
                        在許多公路穿越的森林地區，常有蛇被路過的車輛輾斃。這些蛇屍如果狀況新鮮，其實提供了極為珍貴的冷凍遺傳物質材料。處理流程包括：
                        <ol>
                            <li>鑑定品種與性別。</li>
                            <li>記錄發現地點與林相。</li>
                            <li>拍照。</li>
                            <li>粗略判斷標本的死亡時間，以評估遺傳物質的採摘價值。在台灣，夜間遭輾斃的蛇屍，其內含的遺傳物質大約可維持至翌日凌晨。而在日間的太陽曝曬之下，輾斃屍體遺傳物質的有效時間大約在兩小時以內。</li>
                            <li>採用不同的離心管，分別採取蛇屍的(1)尾尖；(2)肌肉；(3)表皮等部位，以增加成功的機率。內臟部份在動物死亡之後極易在短時間之內腐敗，因此不建議採摘。採取的組織先浸至於 95% 的酒精內，回到實驗室再以液態氮進行冷藏。  採取路殺標本的注意事項如下： (1).  建議將採樣後的標本自路面移除，或可利用夾鍊袋攜回實驗室，作為證據標本。 (2).  在公路上發現蛇屍時，切忌緊急煞車，以避免後車追撞。若蛇屍陳置的位置位於馬路中央，建議先將蛇屍移至路旁，再進行後續的處理。(3).  毒蛇剛死時毒牙仍常有反噬的反射反應，毒性仍然有效，處理時切莫大意。 (4).  所有上述流程，均需以自身安全的保障為前提。儘量保持隱密，以顧及路過民眾的心理感受。若仍有民眾圍觀，可順便進行環境保護的機會教育。</li>
                        </ol>
                    </li>
                </ol>
            </div>

            <div>
                <h4><a id="guideline14">遺傳物質採集應記錄之資料與格式</a></h4> 　  ※共有36個欄位之資料。
                <ol>
                    <li>標本號：為機構代碼、館藏代碼與館藏標號整合之唯一標本號。</li>
                    <li>機構代碼：代表館藏單位之機構代碼。</li>
                    <li>館藏代碼：館藏單位自訂之類別代碼，以區分分類群或標本種類</li>
                    <li>組織樣本館藏編號：用以區別與尋找該件標本之館藏標號。</li>
                    <li>科名：該個體分類學上所屬之科名。</li>
                    <li>學名：該個體分類學上之學名</li>
                    <li>性別：該個體之性別。</li>
                    <li>發育階段：該個體之發育階段，分為幼體、亞成體、成體等</li>
                    <li>標本類別：區分該標本之種類。</li>
                    <li>採集者：記錄採集者之英文姓名。</li>
                    <li>採集者中文名：記錄採集者之中文姓名。</li>
                    <li>採集日期：記錄採集之起始日期或確定日期。</li>
                    <li>採集結束日期：記錄採集之結束日期。</li>
                    <li>採集經度：記錄採集地點之經度，以正負及阿拉伯數字表示。</li>
                    <li>採集緯度：記錄採集地點之緯度，以正負及阿拉伯數字表示。</li>
                    <li>採集國家：記錄採集地點之國家英文名，台灣以Taiwan表示。</li>
                    <li>採集縣市：記錄採集地點之縣市英文名。</li>
                    <li>採集地點：記錄採集地點之英文地名，可為村落、漁港、市場等。</li>
                    <li>採集地點中文名：記錄採集地點之中文地名。</li>
                    <li>採集最高海拔高度：記錄採集之最高海拔高度或確定海拔高度。</li>
                    <li>採集最低海拔高度：記錄採集之最低海拔高度。</li>
                    <li>採集上限深度：記錄採集之上限深度或確定深度。</li>
                    <li>採集下限深度：記錄採集之下限深度。</li>
                    <li>採集方法：記錄採集方法之英文名。</li>
                    <li>鑑定者：記錄分類學鑑定者之英文姓名。</li>
                    <li>鑑定者中文名：記錄分類學鑑定者之中文姓名。</li>
                    <li>鑑定日期：鑑定之日期。</li>
                    <li>體長：證據標本之體長，以cm為單位。</li>
                    <li>體重：證據標本之體重，以g為單位</li>
                    <li>組織來源標本編號：證據標本之館藏標本編號。</li>
                    <li>採樣器官部位：典藏之組織採樣器官或部位英文名。</li>
                    <li>標本新鮮程度：以A、B、C、D、E、F表示之。</li>
                    <li>備註</li>
                    <li>入館日期</li>
                    <li>最後更動時間</li>
                    <li>位置：記錄儲存位置之液態氮桶編號與位置。</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<hr>
{% endblock %}
