{% extends "base.html" %}

{% block main %}
<hr>
<section id="section-1">
  <form>
    <label for="input1">Data Search:</label>
    <input type="text" id="input1" name="input1" size="20" placeholder="Input1">
    <button type="submit">Submit</button>
  </form>
</section>
<hr>
<section>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Col A</th>
        <th>Col B</th>
        <th>Col C</th>
      </tr>
    </thead>
    <tr>
      <td>Row 1</td>
      <td>Cell A1</td>
      <td>Cell B1</td>
      <td>Cell C1</td>
    </tr>
    <tr>
      <td>Row 2</td>
      <td>Cell A2</td>
      <td>Cell B2</td>
      <td>Cell C2</td>
    </tr>
  </table>
</section>

{% endblock %}
