{% from 'inc_macros.html' import filter_input  %}
<script src="{{ url_for('static', filename='vendor/tom-select.complete.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/tom-select.default.min.css') }}">

<!-- Advanced Filters Drawer -->
  <div id="drawer-filters" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
    <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
      <i data-lucide="sliders-horizontal" class="w-4 h-4 me-2.5"></i>{{ _('進階搜尋') }}
    </h5>
    <button type="button" data-drawer-hide="drawer-filters" aria-controls="drawer-filters" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/></svg>
      <span class="sr-only">Close menu</span>
    </button>
    <form class="space-y-6">
      <div>
        <h4 class="font-semibold mb-2 dark:text-white">{{ _('物種') }}{# Taxonomy #}</h4>
        <div class="space-y-2">
          {{ filter_input('family', _('科名'), 'combobox', options=options.family) }}
          {{ filter_input('genus', _('屬名'), 'combobox') }}
          {{ filter_input('species', _('種名'), 'combobox') }}
        </div>
      </div>
      <div>
        <h4 class="font-semibold mb-2 dark:text-white">{{ _('採集資訊') }}</h4>
        <div class="space-y-2">
          {{ filter_input('collector', _('採集者'), 'combobox') }}
          <div class="grid grid-cols-[1fr_auto_1fr] gap-2 items-end">
            {{ filter_input('field_number', _('採集號'), 'text') }}
            <span class="text-gray-500 dark:text-gray-400 pb-2.5">-</span>
            {{ filter_input('field_number2', _('採集號') + "2", 'text') }}
          </div>
          <div class="grid grid-cols-[1fr_auto_1fr] gap-2 items-end">
            {{ filter_input('collect_date', _('採集日期'), 'date') }}
            <span class="text-gray-500 dark:text-gray-400 pb-2.5">-</span>
            {{ filter_input('collect_date2', _('採集日期') + "2", 'date') }}
          </div>
        </div>
      </div>
      <div>
        <h4 class="font-semibold mb-2 dark:text-white">Geography</h4>
        <div class="space-y-2">
          <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Country">
          <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="State/Province">
        </div>
      </div>
      <div class="flex justify-between">
        <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Apply Filters</button>
        <button type="reset" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Reset</button>
      </div>
    </form>
  </div>

  <script>
   (function () {
     const fetchData = (endpoint) => {
       const headers = {
         "Accept": "application/json",
         "Content-Type": "application/json; charset=utf-8",
         'X-Requested-With': 'XMLHttpRequest'
       };
       return fetch(endpoint, {
         method: "GET",
         cache: "no-cache",
         credentials: "same-origin",
         headers: headers,
       })
         .then(response => response.json())
         .then(json => {
           return Promise.resolve(json);
         })
         .catch(error => console.log(error));
     };

     const fetchOptions = async (endpoint, filtr) => {
       const url = `${endpoint}?filter=${JSON.stringify(filtr)}&range=${JSON.stringify([0, 500])}`; // no limit
       const res = await fetchData(url);
       return res.data.map( x => ({ value: x.id, text: x.display_name }));
     };
     let familySelect = new TomSelect("#filter-family", {
       maxOptions: null,
       maxItems: 1,
       sortField: {
	 field: "text",
	 direction: "asc"
       }, onChange: async (value) => {
         const data = await fetchOptions('/api/v1/taxa', {rank: 'genus', parent_id: value});
         genusSelect.clear();
         genusSelect.clearOptions();
         genusSelect.addOptions(data);
         speciesSelect.clear();
         speciesSelect.clearOptions();
       }
     });
     let genusSelect = new TomSelect("#filter-genus", {
       maxOptions: null,
       maxItems: 1,
       sortField: {
	 field: "text",
	 direction: "asc"
       }, onChange: async (value) => {
         const data = await fetchOptions('/api/v1/taxa', {rank: 'species', parent_id: value});
         speciesSelect.clear();
         speciesSelect.clearOptions();
         speciesSelect.addOptions(data);
       }
     });
     let speciesSelect = new TomSelect("#filter-species", {
       maxOptions: null,
       maxItems: 1,
       sortField: {
	 field: "text",
	 direction: "asc"
       }
     });
     let collectorSelect = new TomSelect('#filter-collector', {
       valueField: 'id',
       labelField: 'display_name',
       searchField: 'display_name',
       load: function(query, callback) {
         if (!query.length) return callback();
         fetch(`/api/v1/people?filter=${JSON.stringify({q: query, is_collector: 1})}`)
           .then(response => response.json())
           .then(json => {
             callback(json);
           })
           .catch( err => {
             callback();
           });
       }
     });


   })();
  </script>
