{% extends "base.html" %}

{% block main %}
<div class="uk-container uk-container-small uk-margin">
  <article class="uk-article" id="hast-people">
    <h1 class="uk-article-title">研究人員</h1>

    <h4 class="uk-margin-remove-bottom">鍾國芳 Dr. Kuo-Fang Chung （館主任）</h4>
    <p class="uk-margin-remove-top">Plant systematics, Biogeography, Conservation Genetics, Ethnobotany.<br/>
      植物系統分類、生物地理、保育遺傳學、民族植物</p>

    <h4 class="uk-margin-remove-bottom" class="uk-margin-remove-bottom">趙淑妙 Dr. Shu-Miaw Chaw</h4>
    <p class="uk-margin-remove-top">Molecular phylogeny of gymnosperms; Chamaesyce, Euphorbiaceae; Antirhea, Rubiaceae; introduced plants.<br/>
      茜草科、種子植物之分子親緣</p>

    <h4 class="uk-margin-remove-bottom">黃仁磐 Dr. Jen-Pan Huang</h4>
    <p class="uk-margin-remove-top">Speciation and species delimitation, biogeography and phylogeography, and conservation.<br/>
      種化及物種界定，生物地理及親緣地理學，保育生物學</p>

    <h4 class="uk-margin-remove-bottom">陳可萱 Dr. Ko-Hsuan Chen</h4>
<p class="uk-margin-remove-top">Mycology, Plant-fungal interaction, Plant & Soil Microbiome, Fungal Systematics, Microbial Ecology<br/>
真菌學，植物真菌互動，植物及土壤微生物相，真菌系統分類，微生物生態學<p>

<h4 class="uk-margin-remove-bottom">朱宇敏 Dr. Yu-Ming Ju</h4>
<p class="uk-margin-remove-top">Pyrenomycetes<br/>
炭角菌科真菌-世界性專誌研究及地域性菌類相調查；分子系統發生學</p>

<h4 class="uk-margin-remove-bottom">彭鏡毅 Dr. Ching-I Peng （退休）</h4>
<p class="uk-margin-remove-top">Flora of Taiwan; Phylogeography; Biosystematics and taxonomy of Asteraceae, Begoniaceae, Commelinaceae, Lysimachia (Primulaceae),Tricyrtis(Liliaceae); Digitalization of herbarium collections.</br>
菊科、秋海棠科、鴨跖草科、珍珠菜屬、細辛屬及魔芋屬之分類　</p>

<h4 class="uk-margin-remove-bottom">鄒稚華 Dr. Chih-Hua Tsou （退休）</h4>
<p class="uk-margin-remove-top">Systematics of Lecythidaceae and Theaceae; embryology.</br>
茶科及玉蕊科的分類及親緣關係</p>

<h2>研究助理</h2>
<dl class="uk-description-list">
    <dt>劉翠雅 Ms. Tsui-Ya Liu</dt>
    <dd>標本蒐藏管理、野外植物調查採集和資料庫建立<br/>Specimen management; field collection and database construction .</dd>
    <dt>李思賢 Mr. Szu-Hsien Lee</dt>
    <dd>資訊人員 Software Developer.</dd>
</dl>
</div>
{% endblock%}
