{% extends "base.html" %}

{% block script %}
<script>
const itemContainer = document.getElementById('item-container')
const typeNavItems = document.getElementsByClassName('type-nav')
const typeNavLabel = document.getElementById('type-nav-label')
 for (let nav of typeNavItems) {
   nav.onclick = (e) => {
     e.preventDefault()
     typeNavLabel.innerHTML = `Type Status: ${e.target.dataset.type}`
     for (let item of itemContainer.children) {
       if (item.dataset.type === e.target.dataset.type) {
         item.removeAttribute('hidden')
       } else {
         item.setAttribute('hidden', '')
       }
     }
     UIkit.dropdown('#type-select').hide(false);
   }
 }
</script>
{% endblock %}

{% block main %}
<div class="uk-container uk-container-medium uk-margin-large-top">
  <h1 class="uk-heading-small">模式標本</h1>
  <ul class="uk-subnav uk-subnav-pill" uk-margin>
    <li>
      <a href="#"><span id="type-nav-label">Type Status</span><span uk-icon="icon: triangle-down"></span></a>
      <div uk-dropdown="mode: click" id="type-select">
        <ul class="uk-nav uk-dropdown-nav">
          <li class="uk-active"><a href="#">All</a></li>
          <li class="uk-nav-divider"></li>
          {% for k, v in unit_stats.stats.items() %}
          <li><a href="#" class="type-nav" data-type="{{ k }}">{{ k|capitalize }} ({{ v }})</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>


  <table class="uk-table uk-table-striped uk-table-hover" id="type-table">
    <thead>
      <tr>
        <th>科名</th>
        <th>學名</th>
        <th>中文名</th>
        <th>發表文獻</th>
        <th>館號</th>
        <th>模式</th>
      </tr>
    </thead>
    <tbody id="item-container">
      {% for u in unit_stats.units %}
      <tr class="filter-type" data-type="{{ u.type_status }}">
        <td>{{ u.family }}</td>
        <td>{{ u.scientific_name }}</td>
        <td>{{ u.common_name }}</td>
        <td><a href="{{ u.type_reference_link}}" target="_blank">{{ u.type_reference }}</a></td>
        <td><a href="{{ u.specimen_url }}" target="_blank">{{ u.accession_number }}</a></td>
        <td>{{ u.type_status|capitalize }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
