<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Search::NatureDB</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
		<style>
			.uk-container-small {
				max-width: 1020px;
			}
		</style>
	</head>
	<body>
		<!--HEADER-->
		<header class="uk-box-shadow-small" style="background-color: white">
			<div class="uk-container uk-container-expand">
				<nav class="uk-navbar" id="navbar" data-uk-navbar>
					<div class="uk-navbar-left">
						<a class="uk-navbar-item uk-logo" href="#">Logo</a>
					</div>

					<div class="uk-navbar-right">
					  <ul class="uk-navbar-nav uk-visible@m">
							<li><a href="{{ url_for('cover') }}">NatureDB</a></li>
							<li><a href="{{ url_for('base.portal_list') }}">Portals</a></li>
							<li class="uk-active"><a href="#">Search</a></li>
						</ul>
                                                {#
						<div class="uk-navbar-item">
							<a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
							<a href="#" class="uk-button uk-button-secondary uk-visible@m"><span data-uk-icon="sign-in"></span>SIGN UP</a>
						</div>
                                                #}
					</div>
				</nav>
			</div>
		</header>
		<!--/HEADER-->

<!--AUTHOR-->
</section>
<section id="more" class="uk-section uk-section-default">
  <div class="uk-container">
    <h3 class="uk-text-bold">Search</h3>
    <div class="uk-overflow-auto">
      {% for i in site_list %}
      <h5 class="uk-margin-remove-vertical">{{ i.other_name }}, {{ i.code }}</h4>
      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-margin-remove-top">
        {% for j in i.collections %}
        <label><input class="uk-checkbox" type="checkbox" checked> {{ j.name }}</label>
        {% endfor %}
      </div>
      {% endfor %}

      <div>
  <form method="get" action="{{ url_for('base.portal_search')}}">
    <div class="uk-inline uk-width-large">
      <button id="" type="submit" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></button>
      <input type="search" name="q" class="search-input uk-input" autocapitalize="none" autocorrect="off" autocomplete="off" value="{%if request.args.q %}{{ request.args.q }}{% endif%}"/>
    </div>
    <div class="uk-text-meta">keyword: 館號、物種、採集者、採集號</div>
  </form>
  <p>Results: {{ "{:,}".format(total) }}</p>
      </div>

      <div class="uk-overflow-auto uk-height-large">
        <table class="uk-table uk-table-striped uk-table-condensed uk-table-hover uk-table-divider uk-text-nowrap">
          <thead>
            <tr>
              <th class="uk-table-shrink">#</th>
              <th>研究單位</th>
              <th>收藏</th>
              <th>館號</th>
              <th>物種</th>
              <th>採集者</th>
              <th>採集號</th>
              <th>採集日期</th>
              <th>採集地點</th>
            </tr>
          </thead>
          <tbody>
            {% for r in items %}
            <tr>
              <td>{{ loop.index + (pagination.current_page - 1) * 20 }}</td>
              <td></td>
              <td></td>
              <td>{{ r.accession_number }}</td>
              <td>{{ r.scientific_name }}{%if r.common_name %} ({{ r.common_name }}){% endif %}</td>
              <td>{{ r.collector }}</td>
              <td>{{ r.field_number }}</td>
              <td>{{ r.collect_date }}</td>
              <td>{{ r.locality }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {#{{ pagination }}#}
<ul class="uk-pagination uk-flex-center" uk-margin>
  <li{% if not pagination.has_prev %} class="uk-disabled"{% endif %}><a href="{% if request.args.q %}{{ url_for('admin.record_list', page=pagination.current_page - 1, q=request.args.q) }}{% else %}{{ url_for('admin.record_list', page=pagination.current_page - 1)}}{% endif %}"><span uk-pagination-previous></span></a></li>
  {% for p in range(1, pagination.start_to+1) %}
  <li{% if p == pagination.current_page %} class="uk-active"{% endif %}><a href="{% if request.args.q %}{{ url_for('admin.record_list', page=p, q=request.args.q) }}{% else %}{{ url_for('admin.record_list', page=p) }}{% endif %}">{{ p }}</a></li>
  {% endfor %}

  {% if pagination.current_page <= pagination.start_to and pagination.last_page > pagination.start_to %}
  <li class="uk-disabled"><span>…</span></li>
  {% elif pagination.current_page > pagination.start_to %}
    {% if pagination.current_page > pagination.start_to+1 %}
  <li class="uk-disabled"><span>…</span></li>
    {% endif %}
    {% if pagination.current_page < pagination.last_page %}
  <li class="uk-active"><a href="#">{{ pagination.current_page }}</a></li>
    {% endif %}
    {% if pagination.current_page < pagination.last_page - 1 %}
  <li class="uk-disabled"><span>…</span></li>
    {% endif %}
  {% endif %}

  <li{% if pagination.last_page == pagination.current_page %} class="uk-active"{% endif %}><a href="{% if request.args.q %}{{ url_for('admin.record_list', page=pagination.last_page, q=request.args.q) }}{% else %}{{ url_for('admin.record_list', page=pagination.last_page) }}{% endif %}">{{ pagination.last_page }}</a></li>
  <li{% if not pagination.has_next %} class="uk-disabled"{% endif %}><a href="{% if request.args.q %}{{ url_for('admin.record_list', page=pagination.current_page + 1, q=request.args.q) }}{% else %}{{ url_for('admin.record_list', page=pagination.current_page + 1) }}{% endif %}"><span uk-pagination-next></span></a></li>
</ul>

    </div>
</section>

<!--FOOTER-->
<footer class="uk-section-secondary">
  <div class="uk-container uk-section">
    <div class="uk-grid uk-child-width-1-3@l" data-uk-grid>
      {#
      <div>
        <h4>Our Company</h4>
        <ul class="uk-list uk-list-bullet">
          <li><a href="#" title="Laboris nisi ut aliquip">Laboris nisi ut aliquip</a></li>
          <li><a href="#" title="Excepteur sint occaecat">Excepteur sint occaecat</a></li>
          <li><a href="#" title="Culpa qui officia">Culpa qui officia</a></li>
          <li><a href="#" title="Duis aute irure dolor">Duis aute irure dolor</a></li>
          <li><a href="#" title="Consectetur adipisicing">Consectetur adipisicing</a></li>
        </ul>
      </div>

      <div>
        <h4>Our Offices</h4>
        <ul class="uk-list uk-list-bullet">
          <li><a href="#" title="Laboris nisi ut aliquip">Laboris nisi ut aliquip</a></li>
          <li><a href="#" title="Excepteur sint occaecat">Excepteur sint occaecat</a></li>
          <li><a href="#" title="Culpa qui officia">Culpa qui officia</a></li>
          <li><a href="#" title="Duis aute irure dolor">Duis aute irure dolor</a></li>
          <li><a href="#" title="Consectetur adipisicing">Consectetur adipisicing</a></li>
        </ul>
      </div>
      <div>
        <h4>Subscribe</h4>
        <form class="uk-grid uk-grid-collapse" action="price.html" data-uk-grid>
          <div class="uk-width-expand">
            <input class="uk-input" type="email" required name="email" placeholder="Your E-mail">
          </div>
          <div class="uk-width-auto">
            <button class="uk-button uk-button-primary" data-uk-icon="check"></button>
          </div>
        </form>
        <h4>Social Media</h4>
        <a href="" class="uk-icon-button  uk-margin-small-right" data-uk-icon="facebook"></a>
        <a href="" class="uk-icon-button  uk-margin-small-right" data-uk-icon="twitter"></a>
        <a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
      </div>
      #}
    </div>
  </div>
  <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
    <div class="uk-container">
      <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
        <div class="uk-text-small uk-text-muted">
          Copyright 2019 - All rights reserved.
        </div>
        <div class="uk-text-small uk-text-muted uk-text-center uk-text-right@s">
          <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/FOOTER-->


<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
    </ul>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<!-- /OFFCANVAS -->

<!-- JS FILES -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>

</body>
</html>
