{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<style>
  #specimen-map {
  width: 800px/*430px*/;
  height: 400px/*600px*/;
  }
 .data-label {
   font-weight: bold;
 }
 .data-heading {
   font-size: 20px;
   color: #6c6c6c;
   font-weight: normal;
   padding: 6px 2px;
   border-bottom: #2ca52c solid 2px;
   margin-top: 16px;
 }
 .page-header {
   font-size: 22px;
   font-weight: bold;
 }
 .page-header__subtitle {
   font-size: 14px;
   font-weight: unset;
 }
 .id-wrapper {
   margin: 10px;
   padding: 4px;
   border: #d3d3d3 solid 2px;
   background-color: #eeeeee;
 }
 .data-group-title{
   color: #005760;
   text-transform: uppercase;
   font-weight: 200;
   font-size: 2rem;
 }
 .data-group-wrapper {
   margin: 20px;
   padding: 20px;
   border-bottom: #005760 solid 1px;
 }

</style>
{% endblock %}

{% block script %}
{% if entity.record.longitude_decimal and entity.record.latitude_decimal %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
 const map = L.map('specimen-map').setView([{{ entity.record.latitude_decimal }}, {{ entity.record.longitude_decimal }}], 10);
 const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
   maxZoom: 19,
   attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
 }).addTo(map);
 const marker = L.marker([{{ entity.record.latitude_decimal }}, {{ entity.record.longitude_decimal }}]).addTo(map);
</script>
{% endif %}
{% endblock %}

{% macro display_data(label, text='') -%}
<dt>{{ label }}</dt>
<dd>{{ text }}</dd>
{%- endmacro %}

{% macro display_data2(label, text='') -%}
<div class="" uk-grid>
  <div class="uk-width-1-3@m">
    <div class="">{{ label }}</div>
  </div>
  <div class="uk-width-expand@m">
    <div class="">{{ text or "" }}</div>
  </div>
</div>
{%- endmacro %}

{% macro display_data_DEPRECATED(label, text='') -%}
<div class="grid is-gap-xs">
  <div class="column data-label">
    {{ label }}:
  </div>
  <div class="column">
    {{ text }}
  </div>
</div>
{%- endmacro %}

{% block main %}
<div class="uk-container uk-container-small uk-margin uk-margin-large-top">
  {% if current_user.is_authenticated %}<a class="uk-link-muted" href="{{ url_for('admin.record_form', record_id=entity.record.id) }}" target="_blank">編輯</a>{% endif %}
    <div class="uk-child-width-1-2" uk-grid>
      <div>{# left #}
        {% with image_url = entity.get_image('_l') %}{# TODO: x #}
        <a class="uk-inline" href="{{ image_url }}">
          {% if image_url %}<img width="480" height="480" alt="{{ entity }}" src="{{ entity.get_image('_l') }}">{% endif %}
        </a>
        {% endwith %}
        {#
        <div class="uk-margin">
          <div uk-grid uk-lightbox="animation: fade">
            <a class="uk-inline" href="{{ entity.get_image('_x') }}" data-caption="{{entity.record.collection.organization.code }}:{{ entity.accession_number }}">
              <img width="480" height="480" alt="{{ entity.guid }}" src="{{ entity.get_image('_l') }}">
            </a>
          </div>
        </div>
        #}
      </div>
      <div>{# right #}
        <div><span class="uk-label">{{ entity.display_kind_of_unit() }}</span></div>
        {#
        <div><span class="uk-text-light">{{ _('ARK識別碼') }} {{ entity.guid|replace('https://n2t.net/', '') }}</span></div>
        <div><span class="uk-text-light">{{ _('引用網址') }} <a href="{{ entity.guid }}">{{entity.guid }}</a></span></div>
        #}

        <dl class="uk-description-list">
          <dt>{{ _('館號') }}</dt>
          <dd>{{entity.record.collection.organization.code }}:{{ entity.accession_number }}</dd>
          <dt>學名</dt>
          <dd>{% if entity.record.proxy_taxon_scientific_name %}<a href="{{ url_for('frontend.species_detail', taxon_id=entity.record.proxy_taxon_id) }}">{{ entity.record.proxy_taxon_scientific_name }}</a>{% endif %}</dd>
          <dt>高階學名</dt>
        <nav aria-label="Breadcrumb">
          <ul class="uk-breadcrumb">
            {% if entity.record.last_identification.taxon %}
            {% for higher_taxon in entity.record.last_identification.taxon.get_higher_taxon()|reverse %}
            <li>{{ higher_taxon.full_scientific_name }}{% if higher_taxon.common_name %} ({{ higher_taxon.common_name }}){% endif %}</li>
            {% endfor %}
            {% endif %}
          </ul>
        </nav>
          <dd>
          </dd>
          <dt>{{ _('ARK識別碼') }}</dt>
          <dd>{{ entity.guid|replace('https://n2t.net/', '') }}</dd>
          <dt>{{ _('引用網址') }}</dt>
          <dd><a href="{{ entity.guid }}">{{entity.guid }}</a></dd>
          {#
          <dt>{{ _('採集者/採集號') }}</dt>
          <dd>{{ entity.record.collector.display_name }} {{ entity.record.field_number }}</dd>
          <dt>{{ _('隨同人員') }}</dt>
          <dd>{{ entity.record.companion_text }}</dd>
          <dt></dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dt>{{ _('採集行政區') }}</dt>
          <dd>
            <nav aria-label="Breadcrumb">
              <ul class="uk-breadcrumb">
                {% for i in entity.record.named_areas %}
                <li>{{ i.display_name }}</li>
                {% endfor %}
              </ul>
            </nav>
            <dt>{{ _('詳細地點') }}</dt>
            <dd>{{ entity.record.locality_text }}</dd>
            #}
        </dl>
        {#
        <div class="uk-text-lead uk-margin">{{ _('館號') }}: {{entity.record.collection.organization.code }}:{{ entity.accession_number }}</div>
        <h3>{{entity.record.proxy_taxon_scientific_name }}{% if entity.record.proxy_taxon_common_name %} {{ entity.record.proxy_taxon_common_name }}{% endif %} </h3>
        <nav aria-label="Breadcrumb">
          <ul class="uk-breadcrumb">
            {% if entity.record.last_identification.taxon %}
            {% for higher_taxon in entity.record.last_identification.taxon.get_higher_taxon()|reverse %}
            <li>{{ higher_taxon.full_scientific_name }}{% if higher_taxon.common_name %} ({{ higher_taxon.common_name }}){% endif %}</li>
            {% endfor %}
            {% endif %}
          </ul>
        </nav>
        <div><span class="uk-text-light">{{ _('採集者') }}: {{ entity.record.collector.display_name }}</span></div>
        <div><span class="uk-text-light">{{ _('採集日期') }}: {{ entity.record.collect_date.strftime('%Y-%m-%d') }}</span></div>
        <div><span class="uk-text-light">{{ _('採集地點') }}: {% for i in entity.record.named_areas %} | {{ i.display_name }}{% endfor %} | {{ entity.record.locality_text }} </span></div>
        #}
      </div>
    </div>

    <div class="data-group-wrapper">
      <h3 class="data-group-title">{{ _('採集資訊') }}</h3>
      {{ display_data2(_('採集者'), entity.record.collector.display_name) }}
      {{ display_data2(_('隨同人員'), entity.record.companion_text) }}
      {{ display_data2(_('隨同人員(英文)'), entity.record.companion_en_text) }}
      {{ display_data2(_('採集號'), entity.record.field_number) }}
      {{ display_data2(_('採集日期'), entity.record.collect_date.strftime('%Y-%m-%d') if entity.record.collect_date else '') }}
    </div>

    <div class="data-group-wrapper">
      <div id="specimen-map"></div>
      <h3 class="data-group-title">{{ _('地點') }}</h3>
      {% for i in entity.record.named_areas %}
        {{ display_data2(i.area_class.label, i.display_name )}}
      {% endfor %}
      {{ display_data2(_('詳細地點'), entity.record.locality_text )}}
      {{ display_data2(_('經緯度'), entity.record.get_coordinates('dms').simple )}}
      {{ display_data2(_('海拔(m)'), entity.record.display_altitude() )}}
    </div>

    <div class="data-group-wrapper">
      <h3 class="data-group-title">{{ _('環境描述') }}</h3>
      {% for a in entity.record.assertions %}
        {{ display_data2(a.assertion_type.label, a.value) }}
      {% endfor %}
    </div>

    <div class="data-group-wrapper">
      <h3 class="data-group-title">{{ _('鑑定') }}</h3>
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>{{ _('序號') }}</th>
            <th>{{ _('學名') }}</th>
            <th>{{ _('鑒定者') }}</th>
            <th>{{ _('日期') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for id in entity.record.identifications %}
          <tr>
            <td>{{ id.sequence }}</td>
            <td>{{ id.taxon.full_scientific_name }}         <nav aria-label="Breadcrumb">
              <ul class="uk-breadcrumb">
                {% if id.taxon %}
                {% for higher_taxon in id.taxon.get_higher_taxon()|reverse %}
                <li>{{ higher_taxon.full_scientific_name }}{% if higher_taxon.common_name %} ({{ higher_taxon.common_name }}){% endif %}</li>
                {% endfor %}
                {% endif %}
              </ul>
            </nav></td>
            <td>{{ id.identifier.display_name if id.identifier else "" }}</td>
            <td>{{ id.date.strftime('%Y-%m-%d') if id.date else "" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="data-group-wrapper">
      <h3 class="data-group-title">{{ _('標本') }}</h3>
      {% for a in entity.assertions %}
        {{ display_data2(a.assertion_type.label, a.value) }}
      {% endfor %}
    </div>

    <div class="data-group-wrapper">
      <h3 class="data-group-title">{{ _('多媒體檔案') }}</h3>
      <div class="uk-child-width-1-2@m" uk-grid>
        {% for m in entity.record.record_multimedia_objects %}
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <a href="{{ m.file_url }}" target="_blank"><img src="{{ m.file_url }}" alt="{{ m.title }}" /></a>
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">{{ m.record.proxy_taxon_scientific_name }}{% if m.record.proxy_taxon_common_name %} ({{ m.record.proxy_taxon_common_name }}){% endif %}</h3>

              <table class="uk-table uk-table-divider">
                <tbody>
                  <tr>
                    <td>類別</td>
                    <td><span class="uk-label">{{ m.context.title }}</span></td>
                  </tr>
                  <tr>
                    <td>標註</td>
                    <td>
                      {% for a in m.annotations %}
                      {% if a.annotation_type.input_type == "checkbox" %}
                      <span class="uk-label uk-label-success">{{ a.annotation_type.label }}</span>
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                  <tr>
                    <td>儲存格式</td>
                    <td>{% if m.type_id == 1 %}<span uk-icon="icon: image;"></span>{% endif %} {{ m.physical_format.title }}</td>
                  </tr>
                  <tr>
                    <td>拍攝者</td>
                    <td>{% if m.creator_id %}{{ m.creator.display_name }}{% elif m.creator_text %}{{ m.creator_text }}{% endif %}</td>
                  </tr>
                  <tr>
                    <td>拍攝日期</td>
                    <td>{% if m.date_created %}{{ m.date_created.strftime('%Y-%m-%d') }}{% endif %}</td>
                  </tr>
                  <tr>
                    <td>提供者</td>
                    <td>{% if m.provider_id %}{{ m.provider.display_name }}{% elif m.provider_text %}{{ m.provider_text }}{% endif %}</td>
                  </tr>
                  <tr>
                    <td>版權</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>關聯館號</td>
                    <td>{{ m.title }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
