<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .listree-submenu-heading {
            cursor: pointer;
        }
        ul.listree {
            list-style: none;
        }
        ul.listree-submenu-items {
            list-style: none;
            border-left: 1px dashed black;
            white-space: nowrap;
            margin-right: 4px;
            padding-left: 20px;
        }
        div.listree-submenu-heading.collapsed:before {
            content: "+";
            margin-right: 4px;
        }
        div.listree-submenu-heading.expanded:before {
            content: "-";
            margin-right: 4px;
        }
    </style>
    <title>Easy Tree</title>
  </head>
  <body>
    <ul class="listree">
        <li>
            <div class="listree-submenu-heading">Metrics</div>
            <ul class="listree-submenu-items">
            <li>
                <div class="listree-submenu-heading">Daily Metrics</div>
                <ul class="listree-submenu-items">
                <li>
                    <div class="listree-submenu-heading">Daily Order Metrics</div>
                    <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading">Categorywise Daily order metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Categorywise daily order count</a>
                        </li>
                        <li>
                            <a href="">Categorywise daily bookings</a>
                        </li>
                        </ul>
                    </li>
                    <li>
                        <div class="listree-submenu-heading">Storewise Daily order metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Storewise daily order count</a>
                        </li>
                        <li>
                            <a href="">Storewise daily bookings</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </li>
                <li>
                    <div class="listree-submenu-heading">Daily Invoice Metrics</div>
                    <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading">Categorywise Daily invoice metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Categorywise daily invoice count</a>
                        </li>
                        <li>
                            <a href="">Categorywise daily revenue</a>
                        </li>
                        </ul>
                    </li>
                    <li>
                        <div class="listree-submenu-heading">Storewise Daily invoice metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Storewise daily invoice count</a>
                        </li>
                        <li>
                            <a href="">Storewise daily revenue</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </li>
                </ul>
            </li>
            <li>
                <div class="listree-submenu-heading">Monthly Metrics</div>
                <ul class="listree-submenu-items">
                <li>
                    <div class="listree-submenu-heading">Monthly Order Metrics</div>
                    <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading">Categorywise Monthly order metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Categorywise monthly order count</a>
                        </li>
                        <li>
                            <a href="">Categorywise monthly bookings</a>
                        </li>
                        </ul>
                    </li>
                    <li>
                        <div class="listree-submenu-heading">Storewise Monthly order metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Storewise monthly order count</a>
                        </li>
                        <li>
                            <a href="">Storewise monthly bookings</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </li>
                <li>
                    <div class="listree-submenu-heading">Monthly Invoice Metrics</div>
                    <ul class="listree-submenu-items">
                    <li>
                        <div class="listree-submenu-heading">Categorywise Monthly invoice metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Categorywise monthly invoice count</a>
                        </li>
                        <li>
                            <a href="">Categorywise monthly revenue</a>
                        </li>
                        </ul>
                    </li>
                    <li>
                        <div class="listree-submenu-heading">Storewise Monthly invoice metrics</div>
                        <ul class="listree-submenu-items">
                        <li>
                            <a href="">Storewise monthly invoice count</a>
                        </li>
                        <li>
                            <a href="">Storewise monthly revenue</a>
                        </li>
                        </ul>
                    </li>
                    </ul>
                </li>
                </ul>
            </li>
            </ul>
        </li>
        <li>
            <div class="listree-submenu-heading">Settings</div>
            <ul class="listree-submenu-items">
            <li>
                <div class="listree-submenu-heading">Personal Settings</div>
                <ul class="listree-submenu-items">
                <li><a href="">Password Settings</a></li>
                <li><a href="">Viewing Preferences</a></li>
                </ul>
            </li>
            <li>
                <div class="listree-submenu-heading">Org Settings</div>
                <ul class="listree-submenu-items">
                <li><a href="">Teams</a></li>
                <li><a href="">Billing</a></li>
                </ul>
            </li>
            </ul>
        </li>
    </ul>
    <script type="text/javascript">
        function listree() {
            const subMenuHeadings = document.getElementsByClassName("listree-submenu-heading");
            Array.from(subMenuHeadings).forEach(function(subMenuHeading){
                subMenuHeading.classList.add("collapsed");
                subMenuHeading.nextElementSibling.style.display = "none";
                subMenuHeading.addEventListener('click', function(event){
                    event.preventDefault();
                    const subMenuList = event.target.nextElementSibling;
                    if(subMenuList.style.display=="none"){
                        subMenuHeading.classList.remove("collapsed");
                        subMenuHeading.classList.add("expanded");
                        subMenuList.style.display = "block";
                    }
                    else {
                        subMenuHeading.classList.remove("expanded");
                        subMenuHeading.classList.add("collapsed");
                        subMenuList.style.display = "none";
                    }
                    event.stopPropagation();
                });
            });
        }
        listree();
   </script>
  </body>
</html>
